# More on JSON

Your are provided data of a company and its employess in Json formate.
You need to perform EDA and solve the problems listed down.

In [27]:
# Load Libraries
import numpy as np
import pandas as pd
import json
from datetime import datetime
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Question 1:**

Retrieve and display the company's name and location from the JSON data.

In [12]:
#code Here
file_path = '/content/employee_company_data.json'
with open(file_path, 'rb') as f:
  company_data = json.load(f)
print(type(company_data))
company_data.keys()

print(company_data['company_info']['name'])
print(company_data['office_locations'])

<class 'dict'>
TechCorp
{'san_francisco_hq': {'street': '500 Tech Plaza', 'city': 'San Francisco', 'state': 'CA', 'zipcode': '94105'}, 'new_york_branch': {'street': '123 Wall St', 'city': 'New York', 'state': 'NY', 'zipcode': '10005'}}

Convert given employees data into a dataframe.

**Question 2:**

 Find and display the first name, last name, and email address of the employee with ID 3.

In [47]:
#code Here

company_data['employees']
third_employee = company_data['employees']
for employee in third_employee:
  if employee['id'] == 3:
    print(employee['firstName'], employee['lastName'], "has email" employee['email'])

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-47-2fec65bf16d8>, line 7)

**Question 3:**

Find the department with the most employees, and display its name along with the number of employees it has.

In [46]:
max_employees = 0
most_employees_dept = ""
for department, employees in company_data['departments'].items():
    length = len(employees)
    #print(f"Department: {department}, Number of Employees: {length}")

    if length > max_employees:
        max_employees = length
        most_employees_dept = department

print("The department with the most employees is", most_employees_dept, "with", max_employees, "employees.")

The department with the most employees is engineering with 2 employees.

**Question 4:**

Retrieve and display the street addresses of the "san_francisco_hq" and "new_york_branch" office locations.

In [ ]:
# code Here
saf = company_data['office_locations']['san_francisco_hq']['street']
print("Street Address of San Francisco Headquater", saf)
nyb = company_data['office_locations']['new_york_branch']['street']
print("Street Address of Newyork Branch", nyb)

500 Tech Plaza
123 Wall St

**Question 5:**

Determine whether the company offers health insurance and a retirement plan. Provide the results as "Yes" or "No."

In [42]:
# code Here
benefits = company_data['benefits']
for key in benefits:
  if(benefits[key] == True):
    print(key, benefits[key])

health_insurance True
retirement_plan True

**Question 6:**

Display the version and last updated date from the metadata section of the JSON data.

In [41]:
# code Here
print("Company Version is",company_data['metadata']['version'])
print("Last updated date was",company_data['metadata']['last_updated'])

Company Version is 1.0
Last updated date was 2023-09-30

**Question 7:**

 Sort the employees by their hire date in ascending order and display the first five employees in the sorted list.

In [32]:
# code Here
sorted_employees = sorted(company_data['employees'], key=lambda x: datetime.strptime(x['hireDate'], '%Y-%m-%d'))

for employee in sorted_employees[:5]:
    print(employee['firstName'], "was hired on", employee['hireDate'])

Bob was hired on 2018-03-10
Alice was hired on 2019-08-22
John was hired on 2020-05-15
Emily was hired on 2021-02-28

**Question 8:**

Count the number of employees in the dataset and display the result.

In [ ]:
# code Here
np_of_employees = len(company_data['employees'])
print("Number of Employees are ",np_of_employees)

**Question 9:**

Identify employees who do not have a manager (i.e., manager field is empty), and display their names and positions.

In [38]:
# code Here
employee_data = company_data['employees']
for employee in employee_data:
  if not employee.get('manager'):
        print("Employee does not have a manager or field is empty")
        print(employee['firstName'], employee['lastName'], employee['position'])
  else:
    print(employee['firstName'], employee['lastName'], "has manager", employee['manager'])

John Doe has manager Michael Brown
Alice Smith has manager Michael Brown
Bob Johnson has manager Sarah Williams
Emily Wilson has manager Sarah Williams

**Question 10: Bonus Part**

Using a geocoding service or library of your choice (e.g., geopy), convert the street addresses of all office locations into latitude and longitude coordinates. Then, provide the coordinates for each office location.