

# **Data Science, 2024**



A demonstration of exploratory data analysis to accompany the Lecture.

In [ ]:
import numpy as np
import pandas as pd

These options are used to customize the display of pandas DataFrames for better readability and precision when working with data.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
#%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 9)

sns.set()
sns.set_context('talk')

np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)
# This option stops scientific notation for pandas
pd.set_option('display.float_format', '{:.2f}'.format)

# Tuberculosis in the United States

What can we say about the presence of Tuberculosis in the United States?

Let's look at the data included in the [original CDC article](https://www.cdc.gov/mmwr/volumes/71/wr/mm7112a1.htm?s_cid=mm7112a1_w#T1_down) published in 2021.

**CSV and Nice Field Names**

Suppose Table 1 was saved as a CSV file located in `data/cdc_tuberculosis.csv`. We can then explore the CSV (which is a text
file, and does not contain binary-encoded data) in many ways:
1. Using a text editor like the one in DataHub (right-click on the file and use `Open->Editor`), emacs, vim, VSCode, etc.
2. Opening the CSV directly in DataHub (read-only), Excel, Google Sheets, etc.
3. The Python file object
4. pandas, using `pd.read_csv()`

Let's start with the first two so we solidify the idea of a CSV as **rectangular data (i.e., tabular data) stored as comma-separated values**.

Try 1, 2.

Then Let's see the tried-and-true Data Science approach: pandas.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Read tuberculosis data
tb = pd.read_csv('/content/drive/My Drive/Data for Pandas/cdc_tuberculosis.csv')
tb

,Unnamed: 0,No. of TB cases,Unnamed: 2,Unnamed: 3,TB incidence,Unnamed: 5,Unnamed: 6
0,U.S. jurisdiction,2019,2020,2021,2019.00,2020.00,2021.00
1,Total,"8,900","7,173","7,860",2.71,2.16,2.37
2,Alabama,87,72,92,1.77,1.43,1.83
3,Alaska,58,58,58,7.91,7.92,7.92
4,Arizona,183,136,129,2.51,1.89,1.77
...,...,...,...,...,...,...,...
48,Virginia,191,169,161,2.23,1.96,1.86
49,Washington,221,163,199,2.90,2.11,2.57
50,West Virginia,9,13,7,0.50,0.73,0.39
51,Wisconsin,51,35,66,0.88,0.59,1.12
52,Wyoming,1,0,3,0.17,0.00,0.52

Wait, what's up with the "Unnamed" column names? And the first row, for that matter?

Congratulations -- you're ready to wrangle your data. Because of how things are stored, we'll need to clean the data a bit to name our columns better.

A reasonable first step is to identify the row with the right header. The `pd.read_csv()` function ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)) has the convenient `header` parameter:

In [ ]:
# Answer Here
tb = pd.read_csv('/content/drive/My Drive/Data for Pandas/cdc_tuberculosis.csv', header=1)
tb

   U.S. jurisdiction   2019   2020   2021  2019.1  2020.1  2021.1
0              Total  8,900  7,173  7,860    2.71    2.16    2.37
1            Alabama     87     72     92    1.77    1.43    1.83
2             Alaska     58     58     58    7.91    7.92    7.92
3            Arizona    183    136    129    2.51    1.89    1.77
4           Arkansas     64     59     69    2.12    1.96    2.28
..               ...    ...    ...    ...     ...     ...     ...
47          Virginia    191    169    161    2.23    1.96    1.86
48        Washington    221    163    199    2.90    2.11    2.57
49     West Virginia      9     13      7    0.50    0.73    0.39
50         Wisconsin     51     35     66    0.88    0.59    1.12
51           Wyoming      1      0      3    0.17    0.00    0.52

[52 rows x 7 columns]

Wait...but now we can't differentiate betwen the "Number of TB cases" and "TB incidence" year columns. pandas has tried to make our lives easier by automatically adding ".1" to the latter columns, but this doesn't help us as humans understand the data.

We can do this manually with `df.rename()`

In [ ]:
# Rename column List
tb = tb.rename(columns={"2019":"TB cases 2019", "2020":"TB cases 2020","2021":"TB cases 2021","2019.1":"TB incidence 2019","2020.1":"TB incidence 2020","2021.1":"TB incidence 2021",})
tb

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,"8,900","7,173","7,860",2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

# Record Granularity

You might already be wondering: What's up with that first record?

Row 0 is what we call a **rollup record**, or summary record. It's often useful when displaying tables to humans. The **granularity** of record 0 (Totals) vs the rest of the records (States) is different.


Okay, EDA step two. How was the rollup record aggregated?

Let's check if Total TB cases is the sum of all state TB cases. If we sum over all rows, we should get **2x** the total cases in each of our TB cases by year (why?).

In [ ]:
# Apply sum to tb DataFrame
tb.sum()

U.S. jurisdiction    TotalAlabamaAlaskaArizonaArkansasCaliforniaCol...
TB cases 2019        8,9008758183642,111666718245583029973261085237...
TB cases 2020        7,1737258136591,706525417194122219282169239376...
TB cases 2021        7,8609258129691,750585443194992281064255127494...
TB incidence 2019                                               109.94
TB incidence 2020                                                93.09
TB incidence 2021                                               102.94
dtype: object


Whoa, what's going on? Check out the column types:

In [ ]:
# Find datatype for each column
tb.dtypes

U.S. jurisdiction     object
TB cases 2019         object
TB cases 2020         object
TB cases 2021         object
TB incidence 2019    float64
TB incidence 2020    float64
TB incidence 2021    float64
dtype: object

Looks like those commas are causing all TB cases to be read as the `object` datatype, or **storage type** (close to the Python string datatype), so pandas is concatenating strings instead of adding integers.

Fortunately `read_csv` also has a `thousands` parameter (for what it's worth, I didn't know this beforehand--I [googled](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) this):

In [ ]:
tb[['TB cases 2019', 'TB cases 2020', 'TB cases 2021']] = tb[['TB cases 2019', 'TB cases 2020', 'TB cases 2021']].replace(',', '', regex=True).astype(int)
tb

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,8900,7173,7860,2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

In [ ]:
# now apply sum
# Answer Here
tb.sum()

U.S. jurisdiction    TotalAlabamaAlaskaArizonaArkansasCaliforniaCol...
TB cases 2019                                                    17800
TB cases 2020                                                    14346
TB cases 2021                                                    15720
TB incidence 2019                                               109.94
TB incidence 2020                                                93.09
TB incidence 2021                                               102.94
dtype: object

In [ ]:
tb

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,8900,7173,7860,2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

In [ ]:
df_state_level = tb[tb['U.S. jurisdiction'] != 'Total']
df_state_level

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

The Total TB cases look right. Phew!

(We'll leave it to your own EDA to figure out how the TB incidence "Totals" were aggregated.)

Let's just look at the records with **state-level granularity**:

In [ ]:
# Answer Here
df_state_level = tb[tb['U.S. jurisdiction'] != 'Total']
df_state_level

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

In [ ]:
df_state_level = tb[tb['U.S. jurisdiction'] != 'Total']
df_state_level

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
...,...,...,...,...,...,...,...
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

What do each of these values represent? Why?

To the lecture!


# Gather Census Data

U.S. Census population estimates [source](https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html) (2019), [source](https://www.census.gov/data/tables/time-series/demo/popest/2020s-state-total.html) (2020-2021).

Running the below cells cleans the data. We encourage you to closely explore the CSV and study these lines after lecture...

There are a few new methods here:
* `df.convert_dtypes()` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.convert_dtypes.html)) conveniently converts all float dtypes into ints and is out of scope for the class.
* `df.drop_na()` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)) will be explained in more detail next time.

In [ ]:
# Load 2010s census data
# Answer
tb1 = pd.read_csv('/content/nst-est2019-01.csv')
tb1
tb1 = pd.read_csv('/content/nst-est2019-01.csv', header=3)
tb1

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,"308,745,538","308,758,105","309,321,666","311,556,874","313,830,990","315,993,715","318,301,008","320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
1,Northeast,"55,317,240","55,318,443","55,380,134","55,604,223","55,775,216","55,901,806","56,006,011","56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"
2,Midwest,"66,927,001","66,929,725","66,974,416","67,157,800","67,336,743","67,560,379","67,745,167","67,860,583","67,987,540","68,126,781","68,236,628","68,329,004"
3,South,"114,555,744","114,563,030","114,866,680","116,006,522","117,241,208","118,364,400","119,624,037","120,997,341","122,351,760","123,542,189","124,569,433","125,580,448"
4,West,"71,945,553","71,946,907","72,100,436","72,788,329","73,477,823","74,167,130","74,925,793","75,742,555","76,559,681","77,257,329","77,834,820","78,347,268"
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Release Date: December 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Apply some EDA

Drop the column of Estiamte Base

Rename Unnamed: 0 as 'Geographic Area'

"smart" converting of columns(.convert_dtypes()) Google it. Use at your own risk

.dropna() to drop records with NaN

You can also suggest any change that can be helpful for EDA

In [ ]:
#Drop the column of Estiamte Base
#tb1.drop('Estimates Base', axis=1, inplace=True)
#Rename Unnamed: 0 as 'Geographic Area'
tb1.rename(columns={'Unnamed: 0' : 'Geographic Area'}, inplace=True)
#"smart" converting of columns(.convert_dtypes()) Google it. Use at your own risk
tb1.convert_dtypes()
#.dropna() to drop records with NaN
tb1.dropna()
#You can also suggest any change that can be helpful for EDA
tb1

,Geographic Area,Census,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,"308,745,538","309,321,666","311,556,874","313,830,990","315,993,715","318,301,008","320,635,163","322,941,311","324,985,539","326,687,501","328,239,523"
1,Northeast,"55,317,240","55,380,134","55,604,223","55,775,216","55,901,806","56,006,011","56,034,684","56,042,330","56,059,240","56,046,620","55,982,803"
2,Midwest,"66,927,001","66,974,416","67,157,800","67,336,743","67,560,379","67,745,167","67,860,583","67,987,540","68,126,781","68,236,628","68,329,004"
3,South,"114,555,744","114,866,680","116,006,522","117,241,208","118,364,400","119,624,037","120,997,341","122,351,760","123,542,189","124,569,433","125,580,448"
4,West,"71,945,553","72,100,436","72,788,329","73,477,823","74,167,130","74,925,793","75,742,555","76,559,681","77,257,329","77,834,820","78,347,268"
...,...,...,...,...,...,...,...,...,...,...,...,...
52,.Washington,"6,724,540","6,742,830","6,826,627","6,897,058","6,963,985","7,054,655","7,163,657","7,294,771","7,423,362","7,523,869","7,614,893"
53,.West Virginia,"1,852,994","1,854,239","1,856,301","1,856,872","1,853,914","1,849,489","1,842,050","1,831,023","1,817,004","1,804,291","1,792,147"
54,.Wisconsin,"5,686,986","5,690,475","5,705,288","5,719,960","5,736,754","5,751,525","5,760,940","5,772,628","5,790,186","5,807,406","5,822,434"
55,.Wyoming,"563,626","564,487","567,299","576,305","582,122","582,531","585,613","584,215","578,931","577,601","578,759"
57,Puerto Rico,"3,725,789","3,721,525","3,678,732","3,634,488","3,593,077","3,534,874","3,473,232","3,406,672","3,325,286","3,193,354","3,193,694"

In [ ]:
# census 2020s data
tb2 = pd.read_csv('/content/NST-EST2022-POP.csv', header=2)
tb2

,Geographic Area,"April 1, 2020 Estimates Base",Population Estimate (as of July 1),Unnamed: 3,Unnamed: 4
0,NaN,NaN,2020,2021,2022
1,United States,"331,449,520","331,511,512","332,031,554","333,287,557"
2,Northeast,"57,609,156","57,448,898","57,259,257","57,040,406"
3,Midwest,"68,985,537","68,961,043","68,836,505","68,787,595"
4,South,"126,266,262","126,450,613","127,346,029","128,716,192"
...,...,...,...,...,...
59,Note: The estimates are developed from a base ...,NaN,NaN,NaN,NaN
60,Suggested Citation:,NaN,NaN,NaN,NaN
61,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN
62,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN
63,Release Date: December 2022,NaN,NaN,NaN,NaN

In [ ]:
# perform EDA Here as did on 2010s census data
tb2.rename(columns={'Population Estimate (as of July 1)':'2020','Unnamed: 3' : '2021','Unnamed: 4' : '2022',}, inplace=True)
#"smart" converting of columns(.convert_dtypes()) Google it. Use at your own risk
tb2.convert_dtypes()
#.dropna() to drop records with NaN
tb2.dropna(inplace=True)
#You can also suggest any change that can be helpful for EDA
tb2

,Geographic Area,"April 1, 2020 Estimates Base",2020,2021,2022
1,United States,"331,449,520","331,511,512","332,031,554","333,287,557"
2,Northeast,"57,609,156","57,448,898","57,259,257","57,040,406"
3,Midwest,"68,985,537","68,961,043","68,836,505","68,787,595"
4,South,"126,266,262","126,450,613","127,346,029","128,716,192"
5,West,"78,588,565","78,650,958","78,589,763","78,743,364"
...,...,...,...,...,...
53,.Washington,"7,705,247","7,724,031","7,740,745","7,785,786"
54,.West Virginia,"1,793,755","1,791,420","1,785,526","1,775,156"
55,.Wisconsin,"5,893,725","5,896,271","5,880,101","5,892,539"
56,.Wyoming,"576,837","577,605","579,483","581,381"
58,.Puerto Rico,"3,285,874","3,281,557","3,262,693","3,221,789"

In [84]:
tb1.rename(columns={'Geographic Area' : 'Geographic Area_x',}, inplace=True)
tb2.rename(columns={'Geographic Area_x' : 'Geographic Area_y',}, inplace=True)
c_tb1 = tb1
c_tb2 = tb2
gax = c_tb1.drop(columns=['Census'])
gay = c_tb2.drop(columns=['April 1, 2020 Estimates Base'])
merged = pd.merge(left = gax, right = gay, left_on='Geographic Area_x', right_on='Geographic Area_y')

m_again = pd.merge(left = merged, right = df_state_level, left_on = 'Geographic Area_x', right_on = 'U.S. jurisdiction')
m_again

Empty DataFrame
Columns: [Geographic Area_x, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, Geographic Area_y, 2020, 2021, 2022, U.S. jurisdiction, TB cases 2019, TB cases 2020, TB cases 2021, TB incidence 2019, TB incidence 2020, TB incidence 2021]
Index: []



# Join Data (Merge DataFrames)


Time to `merge`! Here I use the DataFrame method `df1.merge(right=df2, ...)` on DataFrame `df1` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)). Contrast this with the function `pd.merge(left=df1, right=df2, ...)` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.merge.html?highlight=pandas%20merge#pandas.merge)). Feel free to use either.

In [ ]:
# merge TB dataframe with two US census dataframes
tb1.rename(columns={'Geographic Area' : 'Geographic Area_x',}, inplace=True)
tb2.rename(columns={'Geographic Area_x' : 'Geographic Area_y',}, inplace=True)
c_tb1 = tb1
c_tb2 = tb2
gax = c_tb1.drop(columns=['Census'])
gay = c_tb2.drop(columns=['April 1, 2020 Estimates Base'])
merged = pd.merge(left = gax, right = gay, left_on='Geographic Area_x', right_on='Geographic Area_y')

m_again = pd.merge(left = merged, right = df_state_level, left_on = 'Geographic Area_x', right_on = 'U.S. jurisdiction')
m_again

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area_x,2010,2011,...,2014,2015,2016,2017,2018,2019,Geographic Area_y,2020,2021,2022
0,Alabama,87,72,92,1.77,1.43,1.83,Alabama,4785437,4799069,...,4841799,4852347,4863525,4874486,4887681,4903185,Alabama,5031362,5049846,5074296
1,Alaska,58,58,58,7.91,7.92,7.92,Alaska,713910,722128,...,736283,737498,741456,739700,735139,731545,Alaska,732923,734182,733583
2,Arizona,183,136,129,2.51,1.89,1.77,Arizona,6407172,6472643,...,6730413,6829676,6941072,7044008,7158024,7278717,Arizona,7179943,7264877,7359197
3,Arkansas,64,59,69,2.12,1.96,2.28,Arkansas,2921964,2940667,...,2967392,2978048,2989918,3001345,3009733,3017804,Arkansas,3014195,3028122,3045637
4,California,2111,1706,1750,5.35,4.32,4.46,California,37319502,37638369,...,38596972,38918045,39167117,39358497,39461588,39512223,California,39501653,39142991,39029342
5,Colorado,66,52,58,1.15,0.90,1.00,Colorado,5047349,5121108,...,5350101,5450623,5539215,5611885,5691287,5758736,Colorado,5784865,5811297,5839926
6,Connecticut,67,54,54,1.88,1.50,1.50,Connecticut,3579114,3588283,...,3594524,3587122,3578141,3573297,3571520,3565287,Connecticut,3597362,3623355,3626205
7,Delaware,18,17,43,1.84,1.71,4.29,Delaware,899593,907381,...,932487,941252,948921,956823,965479,973764,Delaware,992114,1004807,1018396
8,District of Columbia,24,19,19,3.39,2.75,2.84,District of Columbia,605226,619800,...,662328,675400,685815,694906,701547,705749,District of Columbia,670868,668791,671803
9,Florida,558,412,499,2.60,1.91,2.29,Florida,18845537,19053237,...,19845911,20209042,20613477,20963613,21244317,21477737,Florida,21589602,21828069,22244823
10,Georgia,302,221,228,2.84,2.06,2.11,Georgia,9711881,9802431,...,10067278,10178447,10301890,10410330,10511131,10617423,Georgia,10729828,10788029,10912876
11,Hawaii,99,92,106,6.99,6.34,7.35,Hawaii,1363963,1379329,...,1414538,1422052,1427559,1424393,1420593,1415872,Hawaii,1451043,1447154,1440196
12,Idaho,7,8,4,0.39,0.43,0.21,Idaho,1570746,1583910,...,1631112,1651059,1682380,1717715,1750536,1787065,Idaho,1849202,1904314,1939033
13,Illinois,326,216,255,2.57,1.69,2.01,Illinois,12840503,12867454,...,12884493,12858913,12820527,12778828,12723071,12671821,Illinois,12786580,12686469,12582032
14,Indiana,108,92,127,1.60,1.36,1.87,Indiana,6490432,6516528,...,6593644,6608422,6634304,6658078,6695497,6732219,Indiana,6788799,6813532,6833037
15,Iowa,52,39,49,1.65,1.22,1.53,Iowa,3050745,3066336,...,3109350,3120960,3131371,3141550,3148618,3155070,Iowa,3190571,3197689,3200517
16,Kansas,37,37,43,1.27,1.26,1.47,Kansas,2858190,2869225,...,2900475,2909011,2910844,2908718,2911359,2913314,Kansas,2937919,2937922,2937150
17,Kentucky,66,67,57,1.48,1.49,1.26,Kentucky,4348181,4369821,...,4414349,4425976,4438182,4452268,4461153,4467673,Kentucky,4507445,4506589,4512310
18,Louisiana,88,99,86,1.89,2.13,1.86,Louisiana,4544532,4575625,...,4644013,4664628,4678135,4670560,4659690,4648794,Louisiana,4651664,4627098,4590241
19,Maine,18,17,14,1.34,1.25,1.02,Maine,1327629,1328284,...,1330513,1328262,1331317,1334612,1339057,1344212,Maine,1363557,1377238,1385340
20,Maryland,209,148,192,3.45,2.40,3.11,Maryland,5788645,5839419,...,5957283,5985562,6003323,6023868,6035802,6045680,Maryland,6173205,6174610,6164660
21,Massachusetts,178,142,151,2.58,2.02,2.16,Massachusetts,6566307,6613583,...,6762596,6794228,6823608,6859789,6882635,6892503,Massachusetts,6995729,6989690,6981974
22,Michigan,131,101,136,1.31,1.00,1.35,Michigan,9877510,9882412,...,9929848,9931715,9950571,9973114,9984072,9986857,Michigan,10069577,10037504,10034113
23,Minnesota,148,117,134,2.62,2.05,2.35,Minnesota,5310828,5346143,...,5451079,5482032,5522744,5566230,5606249,5639632,Minnesota,5709852,5711471,5717184
24,Mississippi,58,41,45,1.95,1.39,1.53,Mississippi,2970548,2978731,...,2990468,2988471,2987938,2988510,2981020,2976149,Mississippi,2958141,2949586,2940057
25,Missouri,70,79,77,1.14,1.28,1.25,Missouri,5995974,6010275,...,6056202,6071732,6087135,6106670,6121623,6137428,Missouri,6153998,6169823,6177957
26,Montana,2,4,3,0.19,0.37,0.27,Montana,990697,997316,...,1021869,1030475,1040859,1052482,1060665,1068778,Montana,1087075,1106227,1122867
27,Nebraska,17,33,22,0.88,1.68,1.12,Nebraska,1829542,1840672,...,1879321,1891277,1905616,1915947,1925614,1934408,Nebraska,1962642,1963554,1967923
28,Nevada,53,57,61,1.71,1.83,1.94,Nevada,2702405,2712730,...,2817628,2866939,2917563,2969905,3027341,3080156,Nevada,3115648,3146402,3177772
29,New Hampshire,6,12,12,0.44,0.87,0.86,New Hampshire,1316762,1320202,...,1333341,1336350,1342307,1348787,1353465,1359711,New Hampshire,1378587,1387505,1395231
30,New Jersey,310,245,279,3.49,2.64,3.01,New Jersey,8799446,8828117,...,8864525,8867949,8870827,8885525,8886025,8882190,New Jersey,9271689,9267961,9261699
31,New Mexico,41,29,24,1.95,1.37,1.13,New Mexico,2064552,2080450,...,2089568,2089291,2091630,2091784,2092741,2096829,New Mexico,2118390,2116677,2113344
32,New York,746,605,681,3.83,3.00,3.43,New York,19399878,19499241,...,19651049,19654666,19633428,19589572,19530351,19453561,New York,20108296,19857492,19677151
33,North Carolina,185,159,178,1.76,1.52,1.69,North Carolina,9574323,9657592,...,9932887,10031646,10154788,10268233,10381615,10488084,North Carolina,10449445,10565885,10698973
34,North Dakota,18,10,15,2.36,1.28,1.94,North Dakota,674715,685225,...,737401,754066,754434,754942,758080,762062,North Dakota,779518,777934,779261
35,Ohio,150,130,149,1.28,1.10,1.26,Ohio,11539336,11544663,...,11602700,11617527,11634370,11659650,11676341,11689100,Ohio,11797517,11764342,11756058
36,Oklahoma,73,67,69,1.84,1.69,1.73,Oklahoma,3759944,3788379,...,3878187,3909500,3926331,3931316,3940235,3956971,Oklahoma,3964912,3991225,4019800
37,Oregon,70,67,78,1.66,1.58,1.84,Oregon,3837491,3872036,...,3963244,4015792,4089976,4143625,4181886,4217737,Oregon,4244795,4256301,4240137
38,Pennsylvania,199,156,166,1.55,1.20,1.28,Pennsylvania,12711160,12745815,...,12788313,12784826,12782275,12787641,12800922,12801989,Pennsylvania,12994440,13012059,12972008
39,Rhode Island,14,7,17,1.32,0.64,1.55,Rhode Island,1053959,1053649,...,1055936,1056065,1056770,1055673,1058287,1059361,Rhode Island,1096345,1096985,1093734
40,South Carolina,80,67,88,1.55,1.31,1.70,South Carolina,4635649,4671994,...,4823617,4891938,4957968,5021268,5084156,5148714,South Carolina,5131848,5193266,5282634
41,South Dakota,16,16,12,1.80,1.80,1.34,South Dakota,816166,823579,...,849129,853988,862996,872868,878698,884659,South Dakota,887799,896164,909824
42,Tennessee,129,113,85,1.89,1.63,1.22,Tennessee,6355311,6399291,...,6541223,6591170,6646010,6708799,6771631,6829174,Tennessee,6925619,6968351,7051339
43,Texas,1154,883,991,3.98,3.02,3.36,Texas,25241971,25645629,...,26964333,27470056,27914410,28295273,28628666,28995881,Texas,29232474,29558864,30029572
44,Utah,27,29,17,0.84,0.88,0.51,Utah,2775332,2814384,...,2936879,2981835,3041868,3101042,3153550,3205958,Utah,3283785,3339113,3380800
45,Vermont,4,3,2,0.64,0.47,0.31,Vermont,625879,627049,...,625214,625216,623657,624344,624358,623989,Vermont,642893,646972,647064
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699,8101155,...,8310993,8361808,8410106,8463587,8501286,8535519,Virginia,8636471,8657365,8683619
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830,6826627,...,7054655,7163657,7294771,7423362,7523869,7614893,Washington,7724031,7740745,7785786
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239,1856301,...,1849489,1842050,1831023,1817004,1804291,1792147,West Virginia,1791420,1785526,1775156
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475,5705288,...,5751525,5760940,5772628,5790186,5807406,5822434,Wisconsin,5896271,5880101,5892539
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487,567299,...,582531,585613,584215,578931,577601,578759,Wyoming,577605,579483,581381

This is a little unwieldy. We could either drop the unneeded columns now, or just merge on smaller census DataFrames. Let's do the latter.

In [ ]:
# try merging again, but cleaner this time


## Reproduce incidence

Let's recompute incidence to make sure we know where the original CDC numbers came from.

From the [CDC report](https://www.cdc.gov/mmwr/volumes/71/wr/mm7112a1.htm?s_cid=mm7112a1_w#T1_down): TB incidence is computed as “Cases per 100,000 persons using mid-year population estimates from the U.S. Census Bureau.”

If we define a group as 100,000 people, then we can compute the TB incidence for a given state population as

$$\text{TB incidence} = \frac{\text{# TB cases in population}}{\text{# groups in population}} = \frac{\text{# TB cases in population}}{\text{population}/100000} $$

$$= \frac{\text{# TB cases in population}}{\text{population}} \times 100000$$

Let's try this for 2019:

In [88]:
tb_census_df = tb
#tb_census_df["recompute incidence 2019"] = tb_census_df["TB cases 2019"]/tb_census_df["2019"]*100000
tb_cases_in_population = tb.loc[1, 'U.S. jusdriction']

population =
groups_in_population = population*100000

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (<ipython-input-88-43dc368a048a>, line 4)

Awesome!!!

Let's use a for-loop and Python format strings to compute TB incidence for all years. Python f-strings are just used for the purposes of this demo, but they're handy to know when you explore data beyond this course ([Python documentation](https://docs.python.org/3/tutorial/inputoutput.html)).

In [ ]:
# recompute incidence for all years (2019, 2020, 2021)

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area_x,2010,2011,...,2017,2018,2019,Geographic Area_y,2020,2021,2022,recompute incidence 2019,recompute incidence 2020,recompute incidence 2021
0,Alabama,87,72,92,1.77,1.43,1.83,Alabama,4785437,4799069,...,4874486,4887681,4903185,Alabama,5031362,5049846,5074296,1.774357,1.431024,1.821838
1,Alaska,58,58,58,7.91,7.92,7.92,Alaska,713910,722128,...,739700,735139,731545,Alaska,732923,734182,733583,7.928425,7.913519,7.899949
2,Arizona,183,136,129,2.51,1.89,1.77,Arizona,6407172,6472643,...,7044008,7158024,7278717,Arizona,7179943,7264877,7359197,2.514179,1.894165,1.775667
3,Arkansas,64,59,69,2.12,1.96,2.28,Arkansas,2921964,2940667,...,3001345,3009733,3017804,Arkansas,3014195,3028122,3045637,2.120747,1.957405,2.27864
4,California,2111,1706,1750,5.35,4.32,4.46,California,37319502,37638369,...,39358497,39461588,39512223,California,39501653,39142991,39029342,5.342651,4.318807,4.470788
5,Colorado,66,52,58,1.15,0.90,1.00,Colorado,5047349,5121108,...,5611885,5691287,5758736,Colorado,5784865,5811297,5839926,1.146085,0.898897,0.998056
6,Connecticut,67,54,54,1.88,1.50,1.50,Connecticut,3579114,3588283,...,3573297,3571520,3565287,Connecticut,3597362,3623355,3626205,1.879232,1.5011,1.490331
7,Delaware,18,17,43,1.84,1.71,4.29,Delaware,899593,907381,...,956823,965479,973764,Delaware,992114,1004807,1018396,1.848497,1.713513,4.279429
8,District of Columbia,24,19,19,3.39,2.75,2.84,District of Columbia,605226,619800,...,694906,701547,705749,District of Columbia,670868,668791,671803,3.400642,2.832152,2.840947
9,Florida,558,412,499,2.60,1.91,2.29,Florida,18845537,19053237,...,20963613,21244317,21477737,Florida,21589602,21828069,22244823,2.598039,1.908326,2.286047
10,Georgia,302,221,228,2.84,2.06,2.11,Georgia,9711881,9802431,...,10410330,10511131,10617423,Georgia,10729828,10788029,10912876,2.844381,2.059679,2.113454
11,Hawaii,99,92,106,6.99,6.34,7.35,Hawaii,1363963,1379329,...,1424393,1420593,1415872,Hawaii,1451043,1447154,1440196,6.992157,6.340267,7.324721
12,Idaho,7,8,4,0.39,0.43,0.21,Idaho,1570746,1583910,...,1717715,1750536,1787065,Idaho,1849202,1904314,1939033,0.391704,0.432619,0.210049
13,Illinois,326,216,255,2.57,1.69,2.01,Illinois,12840503,12867454,...,12778828,12723071,12671821,Illinois,12786580,12686469,12582032,2.572637,1.689271,2.010016
14,Indiana,108,92,127,1.60,1.36,1.87,Indiana,6490432,6516528,...,6658078,6695497,6732219,Indiana,6788799,6813532,6833037,1.604226,1.355173,1.863938
15,Iowa,52,39,49,1.65,1.22,1.53,Iowa,3050745,3066336,...,3141550,3148618,3155070,Iowa,3190571,3197689,3200517,1.648141,1.222352,1.532357
16,Kansas,37,37,43,1.27,1.26,1.47,Kansas,2858190,2869225,...,2908718,2911359,2913314,Kansas,2937919,2937922,2937150,1.270031,1.259395,1.46362
17,Kentucky,66,67,57,1.48,1.49,1.26,Kentucky,4348181,4369821,...,4452268,4461153,4467673,Kentucky,4507445,4506589,4512310,1.477279,1.48643,1.264815
18,Louisiana,88,99,86,1.89,2.13,1.86,Louisiana,4544532,4575625,...,4670560,4659690,4648794,Louisiana,4651664,4627098,4590241,1.892964,2.128271,1.858616
19,Maine,18,17,14,1.34,1.25,1.02,Maine,1327629,1328284,...,1334612,1339057,1344212,Maine,1363557,1377238,1385340,1.339074,1.246739,1.016527
20,Maryland,209,148,192,3.45,2.40,3.11,Maryland,5788645,5839419,...,6023868,6035802,6045680,Maryland,6173205,6174610,6164660,3.457014,2.397458,3.109508
21,Massachusetts,178,142,151,2.58,2.02,2.16,Massachusetts,6566307,6613583,...,6859789,6882635,6892503,Massachusetts,6995729,6989690,6981974,2.582516,2.02981,2.160325
22,Michigan,131,101,136,1.31,1.00,1.35,Michigan,9877510,9882412,...,9973114,9984072,9986857,Michigan,10069577,10037504,10034113,1.311724,1.003021,1.354919
23,Minnesota,148,117,134,2.62,2.05,2.35,Minnesota,5310828,5346143,...,5566230,5606249,5639632,Minnesota,5709852,5711471,5717184,2.624285,2.04909,2.346156
24,Mississippi,58,41,45,1.95,1.39,1.53,Mississippi,2970548,2978731,...,2988510,2981020,2976149,Mississippi,2958141,2949586,2940057,1.948827,1.386006,1.525638
25,Missouri,70,79,77,1.14,1.28,1.25,Missouri,5995974,6010275,...,6106670,6121623,6137428,Missouri,6153998,6169823,6177957,1.140543,1.283718,1.24801
26,Montana,2,4,3,0.19,0.37,0.27,Montana,990697,997316,...,1052482,1060665,1068778,Montana,1087075,1106227,1122867,0.18713,0.36796,0.271192
27,Nebraska,17,33,22,0.88,1.68,1.12,Nebraska,1829542,1840672,...,1915947,1925614,1934408,Nebraska,1962642,1963554,1967923,0.878822,1.681407,1.120417
28,Nevada,53,57,61,1.71,1.83,1.94,Nevada,2702405,2712730,...,2969905,3027341,3080156,Nevada,3115648,3146402,3177772,1.720692,1.829475,1.938722
29,New Hampshire,6,12,12,0.44,0.87,0.86,New Hampshire,1316762,1320202,...,1348787,1353465,1359711,New Hampshire,1378587,1387505,1395231,0.44127,0.870456,0.864862
30,New Jersey,310,245,279,3.49,2.64,3.01,New Jersey,8799446,8828117,...,8885525,8886025,8882190,New Jersey,9271689,9267961,9261699,3.49013,2.642453,3.010371
31,New Mexico,41,29,24,1.95,1.37,1.13,New Mexico,2064552,2080450,...,2091784,2092741,2096829,New Mexico,2118390,2116677,2113344,1.955334,1.368964,1.133853
32,New York,746,605,681,3.83,3.00,3.43,New York,19399878,19499241,...,19589572,19530351,19453561,New York,20108296,19857492,19677151,3.834773,3.008708,3.429436
33,North Carolina,185,159,178,1.76,1.52,1.69,North Carolina,9574323,9657592,...,10268233,10381615,10488084,North Carolina,10449445,10565885,10698973,1.763907,1.521612,1.684667
34,North Dakota,18,10,15,2.36,1.28,1.94,North Dakota,674715,685225,...,754942,758080,762062,North Dakota,779518,777934,779261,2.362013,1.282844,1.928184
35,Ohio,150,130,149,1.28,1.10,1.26,Ohio,11539336,11544663,...,11659650,11676341,11689100,Ohio,11797517,11764342,11756058,1.283247,1.101927,1.266539
36,Oklahoma,73,67,69,1.84,1.69,1.73,Oklahoma,3759944,3788379,...,3931316,3940235,3956971,Oklahoma,3964912,3991225,4019800,1.844845,1.689823,1.728793
37,Oregon,70,67,78,1.66,1.58,1.84,Oregon,3837491,3872036,...,4143625,4181886,4217737,Oregon,4244795,4256301,4240137,1.659658,1.578404,1.832577
38,Pennsylvania,199,156,166,1.55,1.20,1.28,Pennsylvania,12711160,12745815,...,12787641,12800922,12801989,Pennsylvania,12994440,13012059,12972008,1.554446,1.200513,1.27574
39,Rhode Island,14,7,17,1.32,0.64,1.55,Rhode Island,1053959,1053649,...,1055673,1058287,1059361,Rhode Island,1096345,1096985,1093734,1.321551,0.638485,1.549702
40,South Carolina,80,67,88,1.55,1.31,1.70,South Carolina,4635649,4671994,...,5021268,5084156,5148714,South Carolina,5131848,5193266,5282634,1.553786,1.305573,1.694502
41,South Dakota,16,16,12,1.80,1.80,1.34,South Dakota,816166,823579,...,872868,878698,884659,South Dakota,887799,896164,909824,1.808606,1.80221,1.339041
42,Tennessee,129,113,85,1.89,1.63,1.22,Tennessee,6355311,6399291,...,6708799,6771631,6829174,Tennessee,6925619,6968351,7051339,1.888955,1.631623,1.219801
43,Texas,1154,883,991,3.98,3.02,3.36,Texas,25241971,25645629,...,28295273,28628666,28995881,Texas,29232474,29558864,30029572,3.979876,3.020613,3.352632
44,Utah,27,29,17,0.84,0.88,0.51,Utah,2775332,2814384,...,3101042,3153550,3205958,Utah,3283785,3339113,3380800,0.842182,0.883127,0.509117
45,Vermont,4,3,2,0.64,0.47,0.31,Vermont,625879,627049,...,624344,624358,623989,Vermont,642893,646972,647064,0.641037,0.466641,0.309132
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699,8101155,...,8463587,8501286,8535519,Virginia,8636471,8657365,8683619,2.237708,1.956818,1.859688
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830,6826627,...,7423362,7523869,7614893,Washington,7724031,7740745,7785786,2.902208,2.110297,2.570812
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239,1856301,...,1817004,1804291,1792147,West Virginia,1791420,1785526,1775156,0.502191,0.725681,0.392041
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475,5705288,...,5790186,5807406,5822434,Wisconsin,5896271,5880101,5892539,0.875922,0.593596,1.12243
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487,567299,...,578931,577601,578759,Wyoming,577605,579483,581381,0.172783,0.0,0.517703

These numbers look pretty close!!! There are a few errors in the hundredths place, particularly in 2021. It may be useful to further explore reasons behind this discrepancy. We'll leave it to you!

In [89]:
tb_census_df.describe()

,table with row headers in column A and column headers in rows 3 through 4. (leading dots indicate sub-parts),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,64,58,59,58,58
unique,64,58,59,58,58
top,Annual Estimates of the Resident Population fo...,"April 1, 2020 Estimates Base",Population Estimate (as of July 1),2021,2022
freq,1,1,1,1,1