# Welcome to the ending of your second module at KS :)

The sharing of this workbook entails that you are moving on a good pace ðŸ¥° Let's jump on to some advance stuff now, eh?

R E M E M B E R:       **PANDAS** documentation is going to be your bestie for this assignment!

### **PART 1 - GET TO KNOW YOUR DATA!**

This time we are going to pull data directly from the internet.

Step 1: Import the neccessary libraries.

Step 2: Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and save it in a variable named food.

In [ ]:
#Hint: to get the date, check what sort of delimiter would you use?

Step 3: I want to see what the first ten rows of the dataset looks like. How?

Step 4. What is the number of observations in the dataset?

Step 5. What is the number of columns in the dataset?

Step 6. Print the name of all the columns.

Step 7. How is the dataset indexed?

In [ ]:
#Hint: think or look for a command that gives information about the dataset but this time, only the index from the dataset.

Step 8. Which was the most-ordered item?

Step 9. For the most-ordered item, how many items were ordered?

Step 10. What was the most ordered item in the choice_description column?

Step 11. How many items were orderd in total?

Step 12. Turn the item price into a float

Step 12.a. Check the item price type

In [ ]:
#check itemprice type before changing  it

Step 12.b. Create a lambda function and change the type of item price.

In [ ]:
#Hint: You can first create a lambda function and then store it in a variable. After that, you can (APPLY) it on the relevant column :)

Step 12.c. Check the item price type now

In [ ]:
#make sure the itemprice type has changed now

Step 13. How much was the revenue for the period in the dataset?

In [ ]:
#Hint: Revenue = Quantity into ItemPrice

Step 14. How many orders were made in the period?

Step 15. What is the average revenue amount per order?

Step 16. How many different items are sold?

### **Part 2 - FILTER AND SORT YOUR DATA!**

Step 17. How many products cost more than $10.00?

In [ ]:
# you already  converted the itemprice into flaot, now delete the duplicates in item_name and quantity.
# select only the products with quantity equals to 1 and then print the unqiue count only

Step 18. Sort by the name of the item

Step 19. What was the quantity of the most expensive item ordered?

Step 20. How many times did someone order more than one Canned Soda?

In [ ]:
#Hint: you can also use boolean condition

BONUS QUESTION: Pandas is used for Data Analysis. Create some unique pandas insight from your dataset and code it here.

Bonus Question is optional, but attempting it would result in 5 Grace Points :)

### **THE END!!!**
or maybe not :)

We still need to practice Grouping more.

### **PART 3 - GROUPING!!**

But now, we will be changing our dataset a bit. Get your dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user) and store it in a variable called users.

In [ ]:
#Hint: this time, you may need to change your choice of delimieter. Check and see how the values are being seperated.
#Also this time, be on a lookout of what column would you use as an index?

Step 1. Discover what is the mean age per occupation

Step 2. Discover the Male ratio per occupation and sort it from the most to the least

In [ ]:
#The output of this cell is given below. Your output should match this!

#In Simple words, you have to calculate the percentage of male users grouped by their occupation.

![ig1.png]()

Step 3. For each occupation, calculate the minimum and maximum ages

Step 4.  For each combination of occupation and gender, calculate the mean age

Step 5. For each occupation present the percentage of women and men

In [ ]:
# create a data frame and apply count to gender

# create a DataFrame and apply count for each occupation

# divide the gender_ocup per the occup_count and multiply per 100

# present all rows from the 'gender column'

Easy, right? I knew you could do it ðŸ’¯

You are just left with 2 modules :)

### **PART 4 - APPLY**

Get your data from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv) and store it in a variable called crime

In [ ]:
#read your data and display first 5 rows

Step 1. What is the type of the columns?

Step 2. Convert the type of the column Year to datetime64

Step 3. Set the Year column as the index of the dataframe

Step 4. Delete the Total column

Step 5. Group the year by decades and sum the values.

***Pay attention to the Population column number, summing this column is a mistake***

In [ ]:
# To learn more about .resample (https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html)
# To learn more about Offset Aliases (http://pandas.pydata.org/pandas-docs/stable/timeseries.html#offset-aliases)

# Uses resample to sum each decade

# Uses resample to get the max value only for the "Population" column

# Updating the "Population" column

Bonus Question: What is the most dangerous decade to live in the US?

In [ ]:
#Hint: Violent shows how dangerous the decade is

### **PART 5 - MERGE/JOIN**

For this one, we will create our own dataset.

We will be dealing with both Numpy and Pandas in this one.

Step 1. Import the necessary libraries

Step 2. **Create 3 differents Series, each of length 100, as follows:**

1. The first a random number from 1 to 4

2. The second a random number from 1 to 3

3. The third a random number from 10,000 to 30,000

In [ ]:
#name them s1,s2,s3

Step 3. Let's create a DataFrame by joinning the Series by column.

In [ ]:
#try concat, but figure out the axis on your own :)

Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [ ]:
#join concat the values but still change the series into a df as well

Oops, it seems it is going only until index 99. Is it true?

In [ ]:
#This question warrants a theoretical response. No code is required in this cell block

#If no, then why not?

#If yes, then why yes?

Step 6. Reindex the DataFrame so it goes from 0 to 299

### ***TA-DA. That's it. THE END!***