# Numpy Basics Exercises

Please complete the following exercises **using numpy only**.

# Array Functions
1.Arange([start,] stop[, step],dtype=None)
Nearly identical to Pythonâ€™s range(). Creates an array of values in the range [start,stop) with the specified step value. Allows non-integer values for start, stop, and step. Default dtype is derived from the start, stop, and step values. create an array with arange.

In [ ]:
# code here

2.Create arrays with ONES, ZEROS, shape is a number or sequence specifying the dimensions of the array. If dtype is not specified, it defaults to float64.

In [ ]:
# code here

3.Generate an n by n identity array. The default dtype is float64.

In [ ]:
# code here

4.use empty, full, and fill, max, min, std, mean, var, argmax, linspace

In [ ]:
# code here

5.

  Rule 1:
  Operations between multiple array objects are first checked for proper shape match.

  Rule 2:
  Mathematical operators (+ - * / exp, log, ...) apply element by element, on the values.

  Rule 3:
  Reduction operations (mean, std, skew, kurt, sum, prod, ...) apply to the whole array, unless an axis is specified.

  Rule 4:
  Missing values propagate unless explicitly ignored (nanmean, nansum, ...).

In [ ]:
# code here

6.Create the array below with
                  a = np.arange(-15, 15).reshape(5, 6) ** 2
1. The maximum of each row
2. The mean of each column
3. The position of the overall minimum

In [ ]:
# code here

# Array Broadcasting
NumPy arrays of different dimensionality can be combined in the same expression. Arrays with smaller dimension are broadcasted to match the larger arrays, without copying data.

Broadcasting has two rules.

RULE 1: PREPEND ONES TO SMALLER ARRAY'S SHAPE

RULE 2: DIMENSIONS OF SIZE 1 ARE REPEATED WITHOUT COPYING

In [ ]:
# Create 2 arrays A and B with dim (5,4) and (5,) respectively, apply addition and subtraction.

1.Use reduce() operation on an array to reduec it into a single meaningful value. You. can also use a specific axis to apply reduce operation.

2.accumulate() creates a new array containing the intermediate results of the reduce operation at each element in a.

In [ ]:
# Answer here

### We will work with the following array:

In [ ]:
a = np.arange(25).reshape(5, 5)
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

# Use slicing only to select 3rd and last row along with 2nd and last columns

In [ ]:
# Answer here

# Extract the following sub-array: [[2, 3], [12, 13], [22, 23]]

In [ ]:
# Answer here

# Combine fancy/location indexing with slicing to extract the following sub-array: [[6, 8], [16, 18], [21, 23]]

In [ ]:
# Answer here

# Change the values 1, 10, 19 and 22 in the array to -2

In [ ]:
# Answer

# Repeat above using boolean indexing

In [ ]:
# Answer here

# Combine slicing in the column dimension and boolean indexing in row dimension to extract the following sub-array: [[0, 3], [10, 13], [15, 18]]

In [ ]:
# Answer here

# Calculating the sum, min and max of all diagonal values

In [ ]:
# Answer here

# Calculate the sum of differences between the 2nd row and 2nd last column

In [ ]:
# Answer here

# Create a new array that is the sum of even rows and odd rows

In [ ]:
# Answer here

## You are done. Good job!