

# **Data Science, 2024**



A demonstration of exploratory data analysis to accompany the Lecture.

In [1]:
import numpy as np
import pandas as pd

These options are used to customize the display of pandas DataFrames for better readability and precision when working with data.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns
#%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 9)

sns.set()
sns.set_context('talk')

np.set_printoptions(threshold=20, precision=2, suppress=True)
pd.set_option('display.max_rows', 30)
pd.set_option('display.max_columns', None)
pd.set_option('display.precision', 2)
# This option stops scientific notation for pandas
pd.set_option('display.float_format', '{:.2f}'.format)

# Tuberculosis in the United States

What can we say about the presence of Tuberculosis in the United States?

Let's look at the data included in the [original CDC article](https://www.cdc.gov/mmwr/volumes/71/wr/mm7112a1.htm?s_cid=mm7112a1_w#T1_down) published in 2021.

**CSV and Nice Field Names**

Suppose Table 1 was saved as a CSV file located in `data/cdc_tuberculosis.csv`. We can then explore the CSV (which is a text
file, and does not contain binary-encoded data) in many ways:
1. Using a text editor like the one in DataHub (right-click on the file and use `Open->Editor`), emacs, vim, VSCode, etc.
2. Opening the CSV directly in DataHub (read-only), Excel, Google Sheets, etc.
3. The Python file object
4. pandas, using `pd.read_csv()`

Let's start with the first two so we solidify the idea of a CSV as **rectangular data (i.e., tabular data) stored as comma-separated values**.

Try 1, 2.

Then Let's see the tried-and-true Data Science approach: pandas.

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# Read tuberculosis data

,Unnamed: 0,No. of TB cases,Unnamed: 2,Unnamed: 3,TB incidence,Unnamed: 5,Unnamed: 6
0,U.S. jurisdiction,2019,2020,2021,2019.00,2020.00,2021.00
1,Total,"8,900","7,173","7,860",2.71,2.16,2.37
2,Alabama,87,72,92,1.77,1.43,1.83
3,Alaska,58,58,58,7.91,7.92,7.92
4,Arizona,183,136,129,2.51,1.89,1.77
5,Arkansas,64,59,69,2.12,1.96,2.28
6,California,"2,111","1,706","1,750",5.35,4.32,4.46
7,Colorado,66,52,58,1.15,0.90,1.00
8,Connecticut,67,54,54,1.88,1.50,1.50
9,Delaware,18,17,43,1.84,1.71,4.29
10,District of Columbia,24,19,19,3.39,2.75,2.84
11,Florida,558,412,499,2.60,1.91,2.29
12,Georgia,302,221,228,2.84,2.06,2.11
13,Hawaii,99,92,106,6.99,6.34,7.35
14,Idaho,7,8,4,0.39,0.43,0.21
15,Illinois,326,216,255,2.57,1.69,2.01
16,Indiana,108,92,127,1.60,1.36,1.87
17,Iowa,52,39,49,1.65,1.22,1.53
18,Kansas,37,37,43,1.27,1.26,1.47
19,Kentucky,66,67,57,1.48,1.49,1.26
20,Louisiana,88,99,86,1.89,2.13,1.86
21,Maine,18,17,14,1.34,1.25,1.02
22,Maryland,209,148,192,3.45,2.40,3.11
23,Massachusetts,178,142,151,2.58,2.02,2.16
24,Michigan,131,101,136,1.31,1.00,1.35
25,Minnesota,148,117,134,2.62,2.05,2.35
26,Mississippi,58,41,45,1.95,1.39,1.53
27,Missouri,70,79,77,1.14,1.28,1.25
28,Montana,2,4,3,0.19,0.37,0.27
29,Nebraska,17,33,22,0.88,1.68,1.12
30,Nevada,53,57,61,1.71,1.83,1.94
31,New Hampshire,6,12,12,0.44,0.87,0.86
32,New Jersey,310,245,279,3.49,2.64,3.01
33,New Mexico,41,29,24,1.95,1.37,1.13
34,New York,746,605,681,3.83,3.00,3.43
35,North Carolina,185,159,178,1.76,1.52,1.69
36,North Dakota,18,10,15,2.36,1.28,1.94
37,Ohio,150,130,149,1.28,1.10,1.26
38,Oklahoma,73,67,69,1.84,1.69,1.73
39,Oregon,70,67,78,1.66,1.58,1.84
40,Pennsylvania,199,156,166,1.55,1.20,1.28
41,Rhode Island,14,7,17,1.32,0.64,1.55
42,South Carolina,80,67,88,1.55,1.31,1.70
43,South Dakota,16,16,12,1.80,1.80,1.34
44,Tennessee,129,113,85,1.89,1.63,1.22
45,Texas,"1,154",883,991,3.98,3.02,3.36
46,Utah,27,29,17,0.84,0.88,0.51
47,Vermont,4,3,2,0.64,0.47,0.31
48,Virginia,191,169,161,2.23,1.96,1.86
49,Washington,221,163,199,2.90,2.11,2.57
50,West Virginia,9,13,7,0.50,0.73,0.39
51,Wisconsin,51,35,66,0.88,0.59,1.12
52,Wyoming,1,0,3,0.17,0.00,0.52

Wait, what's up with the "Unnamed" column names? And the first row, for that matter?

Congratulations -- you're ready to wrangle your data. Because of how things are stored, we'll need to clean the data a bit to name our columns better.

A reasonable first step is to identify the row with the right header. The `pd.read_csv()` function ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html)) has the convenient `header` parameter:

In [6]:
# Answer Here

       U.S. jurisdiction   2019   2020   2021  2019.1  2020.1  2021.1
0                  Total  8,900  7,173  7,860    2.71    2.16    2.37
1                Alabama     87     72     92    1.77    1.43    1.83
2                 Alaska     58     58     58    7.91    7.92    7.92
3                Arizona    183    136    129    2.51    1.89    1.77
4               Arkansas     64     59     69    2.12    1.96    2.28
5             California  2,111  1,706  1,750    5.35    4.32    4.46
6               Colorado     66     52     58    1.15    0.90    1.00
7            Connecticut     67     54     54    1.88    1.50    1.50
8               Delaware     18     17     43    1.84    1.71    4.29
9   District of Columbia     24     19     19    3.39    2.75    2.84
10               Florida    558    412    499    2.60    1.91    2.29
11               Georgia    302    221    228    2.84    2.06    2.11
12                Hawaii     99     92    106    6.99    6.34    7.35
13                 Idaho      7      8      4    0.39    0.43    0.21
14              Illinois    326    216    255    2.57    1.69    2.01
15               Indiana    108     92    127    1.60    1.36    1.87
16                  Iowa     52     39     49    1.65    1.22    1.53
17                Kansas     37     37     43    1.27    1.26    1.47
18              Kentucky     66     67     57    1.48    1.49    1.26
19             Louisiana     88     99     86    1.89    2.13    1.86
20                 Maine     18     17     14    1.34    1.25    1.02
21              Maryland    209    148    192    3.45    2.40    3.11
22         Massachusetts    178    142    151    2.58    2.02    2.16
23              Michigan    131    101    136    1.31    1.00    1.35
24             Minnesota    148    117    134    2.62    2.05    2.35
25           Mississippi     58     41     45    1.95    1.39    1.53
26              Missouri     70     79     77    1.14    1.28    1.25
27               Montana      2      4      3    0.19    0.37    0.27
28              Nebraska     17     33     22    0.88    1.68    1.12
29                Nevada     53     57     61    1.71    1.83    1.94
30         New Hampshire      6     12     12    0.44    0.87    0.86
31            New Jersey    310    245    279    3.49    2.64    3.01
32            New Mexico     41     29     24    1.95    1.37    1.13
33              New York    746    605    681    3.83    3.00    3.43
34        North Carolina    185    159    178    1.76    1.52    1.69
35          North Dakota     18     10     15    2.36    1.28    1.94
36                  Ohio    150    130    149    1.28    1.10    1.26
37              Oklahoma     73     67     69    1.84    1.69    1.73
38                Oregon     70     67     78    1.66    1.58    1.84
39          Pennsylvania    199    156    166    1.55    1.20    1.28
40          Rhode Island     14      7     17    1.32    0.64    1.55
41        South Carolina     80     67     88    1.55    1.31    1.70
42          South Dakota     16     16     12    1.80    1.80    1.34
43             Tennessee    129    113     85    1.89    1.63    1.22
44                 Texas  1,154    883    991    3.98    3.02    3.36
45                  Utah     27     29     17    0.84    0.88    0.51
46               Vermont      4      3      2    0.64    0.47    0.31
47              Virginia    191    169    161    2.23    1.96    1.86
48            Washington    221    163    199    2.90    2.11    2.57
49         West Virginia      9     13      7    0.50    0.73    0.39
50             Wisconsin     51     35     66    0.88    0.59    1.12
51               Wyoming      1      0      3    0.17    0.00    0.52

Wait...but now we can't differentiate betwen the "Number of TB cases" and "TB incidence" year columns. pandas has tried to make our lives easier by automatically adding ".1" to the latter columns, but this doesn't help us as humans understand the data.

We can do this manually with `df.rename()`

In [7]:
# Rename column List

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,"8,900","7,173","7,860",2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,"2,111","1,706","1,750",5.35,4.32,4.46
6,Colorado,66,52,58,1.15,0.90,1.00
7,Connecticut,67,54,54,1.88,1.50,1.50
8,Delaware,18,17,43,1.84,1.71,4.29
9,District of Columbia,24,19,19,3.39,2.75,2.84
10,Florida,558,412,499,2.60,1.91,2.29
11,Georgia,302,221,228,2.84,2.06,2.11
12,Hawaii,99,92,106,6.99,6.34,7.35
13,Idaho,7,8,4,0.39,0.43,0.21
14,Illinois,326,216,255,2.57,1.69,2.01
15,Indiana,108,92,127,1.60,1.36,1.87
16,Iowa,52,39,49,1.65,1.22,1.53
17,Kansas,37,37,43,1.27,1.26,1.47
18,Kentucky,66,67,57,1.48,1.49,1.26
19,Louisiana,88,99,86,1.89,2.13,1.86
20,Maine,18,17,14,1.34,1.25,1.02
21,Maryland,209,148,192,3.45,2.40,3.11
22,Massachusetts,178,142,151,2.58,2.02,2.16
23,Michigan,131,101,136,1.31,1.00,1.35
24,Minnesota,148,117,134,2.62,2.05,2.35
25,Mississippi,58,41,45,1.95,1.39,1.53
26,Missouri,70,79,77,1.14,1.28,1.25
27,Montana,2,4,3,0.19,0.37,0.27
28,Nebraska,17,33,22,0.88,1.68,1.12
29,Nevada,53,57,61,1.71,1.83,1.94
30,New Hampshire,6,12,12,0.44,0.87,0.86
31,New Jersey,310,245,279,3.49,2.64,3.01
32,New Mexico,41,29,24,1.95,1.37,1.13
33,New York,746,605,681,3.83,3.00,3.43
34,North Carolina,185,159,178,1.76,1.52,1.69
35,North Dakota,18,10,15,2.36,1.28,1.94
36,Ohio,150,130,149,1.28,1.10,1.26
37,Oklahoma,73,67,69,1.84,1.69,1.73
38,Oregon,70,67,78,1.66,1.58,1.84
39,Pennsylvania,199,156,166,1.55,1.20,1.28
40,Rhode Island,14,7,17,1.32,0.64,1.55
41,South Carolina,80,67,88,1.55,1.31,1.70
42,South Dakota,16,16,12,1.80,1.80,1.34
43,Tennessee,129,113,85,1.89,1.63,1.22
44,Texas,"1,154",883,991,3.98,3.02,3.36
45,Utah,27,29,17,0.84,0.88,0.51
46,Vermont,4,3,2,0.64,0.47,0.31
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

# Record Granularity

You might already be wondering: What's up with that first record?

Row 0 is what we call a **rollup record**, or summary record. It's often useful when displaying tables to humans. The **granularity** of record 0 (Totals) vs the rest of the records (States) is different.


Okay, EDA step two. How was the rollup record aggregated?

Let's check if Total TB cases is the sum of all state TB cases. If we sum over all rows, we should get **2x** the total cases in each of our TB cases by year (why?).

In [8]:
# Apply sum to tb DataFrame

U.S. jurisdiction    TotalAlabamaAlaskaArizonaArkansasCaliforniaCol...
TB cases 2019        8,9008758183642,111666718245583029973261085237...
TB cases 2020        7,1737258136591,706525417194122219282169239376...
TB cases 2021        7,8609258129691,750585443194992281064255127494...
TB incidence 2019                                               109.94
TB incidence 2020                                                93.09
TB incidence 2021                                               102.94
dtype: object


Whoa, what's going on? Check out the column types:

In [9]:
# Find datatype for each column

U.S. jurisdiction     object
TB cases 2019         object
TB cases 2020         object
TB cases 2021         object
TB incidence 2019    float64
TB incidence 2020    float64
TB incidence 2021    float64
dtype: object

Looks like those commas are causing all TB cases to be read as the `object` datatype, or **storage type** (close to the Python string datatype), so pandas is concatenating strings instead of adding integers.

Fortunately `read_csv` also has a `thousands` parameter (for what it's worth, I didn't know this beforehand--I [googled](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) this):

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
0,Total,8900,7173,7860,2.71,2.16,2.37
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
6,Colorado,66,52,58,1.15,0.90,1.00
7,Connecticut,67,54,54,1.88,1.50,1.50
8,Delaware,18,17,43,1.84,1.71,4.29
9,District of Columbia,24,19,19,3.39,2.75,2.84
10,Florida,558,412,499,2.60,1.91,2.29
11,Georgia,302,221,228,2.84,2.06,2.11
12,Hawaii,99,92,106,6.99,6.34,7.35
13,Idaho,7,8,4,0.39,0.43,0.21
14,Illinois,326,216,255,2.57,1.69,2.01
15,Indiana,108,92,127,1.60,1.36,1.87
16,Iowa,52,39,49,1.65,1.22,1.53
17,Kansas,37,37,43,1.27,1.26,1.47
18,Kentucky,66,67,57,1.48,1.49,1.26
19,Louisiana,88,99,86,1.89,2.13,1.86
20,Maine,18,17,14,1.34,1.25,1.02
21,Maryland,209,148,192,3.45,2.40,3.11
22,Massachusetts,178,142,151,2.58,2.02,2.16
23,Michigan,131,101,136,1.31,1.00,1.35
24,Minnesota,148,117,134,2.62,2.05,2.35
25,Mississippi,58,41,45,1.95,1.39,1.53
26,Missouri,70,79,77,1.14,1.28,1.25
27,Montana,2,4,3,0.19,0.37,0.27
28,Nebraska,17,33,22,0.88,1.68,1.12
29,Nevada,53,57,61,1.71,1.83,1.94
30,New Hampshire,6,12,12,0.44,0.87,0.86
31,New Jersey,310,245,279,3.49,2.64,3.01
32,New Mexico,41,29,24,1.95,1.37,1.13
33,New York,746,605,681,3.83,3.00,3.43
34,North Carolina,185,159,178,1.76,1.52,1.69
35,North Dakota,18,10,15,2.36,1.28,1.94
36,Ohio,150,130,149,1.28,1.10,1.26
37,Oklahoma,73,67,69,1.84,1.69,1.73
38,Oregon,70,67,78,1.66,1.58,1.84
39,Pennsylvania,199,156,166,1.55,1.20,1.28
40,Rhode Island,14,7,17,1.32,0.64,1.55
41,South Carolina,80,67,88,1.55,1.31,1.70
42,South Dakota,16,16,12,1.80,1.80,1.34
43,Tennessee,129,113,85,1.89,1.63,1.22
44,Texas,1154,883,991,3.98,3.02,3.36
45,Utah,27,29,17,0.84,0.88,0.51
46,Vermont,4,3,2,0.64,0.47,0.31
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

In [11]:
# now apply sum
# Answer Here

U.S. jurisdiction    TotalAlabamaAlaskaArizonaArkansasCaliforniaCol...
TB cases 2019                                                    17800
TB cases 2020                                                    14346
TB cases 2021                                                    15720
TB incidence 2019                                               109.94
TB incidence 2020                                                93.09
TB incidence 2021                                               102.94
dtype: object

The Total TB cases look right. Phew!

(We'll leave it to your own EDA to figure out how the TB incidence "Totals" were aggregated.)

Let's just look at the records with **state-level granularity**:

In [12]:
# Answer Here

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021
1,Alabama,87,72,92,1.77,1.43,1.83
2,Alaska,58,58,58,7.91,7.92,7.92
3,Arizona,183,136,129,2.51,1.89,1.77
4,Arkansas,64,59,69,2.12,1.96,2.28
5,California,2111,1706,1750,5.35,4.32,4.46
6,Colorado,66,52,58,1.15,0.90,1.00
7,Connecticut,67,54,54,1.88,1.50,1.50
8,Delaware,18,17,43,1.84,1.71,4.29
9,District of Columbia,24,19,19,3.39,2.75,2.84
10,Florida,558,412,499,2.60,1.91,2.29
11,Georgia,302,221,228,2.84,2.06,2.11
12,Hawaii,99,92,106,6.99,6.34,7.35
13,Idaho,7,8,4,0.39,0.43,0.21
14,Illinois,326,216,255,2.57,1.69,2.01
15,Indiana,108,92,127,1.60,1.36,1.87
16,Iowa,52,39,49,1.65,1.22,1.53
17,Kansas,37,37,43,1.27,1.26,1.47
18,Kentucky,66,67,57,1.48,1.49,1.26
19,Louisiana,88,99,86,1.89,2.13,1.86
20,Maine,18,17,14,1.34,1.25,1.02
21,Maryland,209,148,192,3.45,2.40,3.11
22,Massachusetts,178,142,151,2.58,2.02,2.16
23,Michigan,131,101,136,1.31,1.00,1.35
24,Minnesota,148,117,134,2.62,2.05,2.35
25,Mississippi,58,41,45,1.95,1.39,1.53
26,Missouri,70,79,77,1.14,1.28,1.25
27,Montana,2,4,3,0.19,0.37,0.27
28,Nebraska,17,33,22,0.88,1.68,1.12
29,Nevada,53,57,61,1.71,1.83,1.94
30,New Hampshire,6,12,12,0.44,0.87,0.86
31,New Jersey,310,245,279,3.49,2.64,3.01
32,New Mexico,41,29,24,1.95,1.37,1.13
33,New York,746,605,681,3.83,3.00,3.43
34,North Carolina,185,159,178,1.76,1.52,1.69
35,North Dakota,18,10,15,2.36,1.28,1.94
36,Ohio,150,130,149,1.28,1.10,1.26
37,Oklahoma,73,67,69,1.84,1.69,1.73
38,Oregon,70,67,78,1.66,1.58,1.84
39,Pennsylvania,199,156,166,1.55,1.20,1.28
40,Rhode Island,14,7,17,1.32,0.64,1.55
41,South Carolina,80,67,88,1.55,1.31,1.70
42,South Dakota,16,16,12,1.80,1.80,1.34
43,Tennessee,129,113,85,1.89,1.63,1.22
44,Texas,1154,883,991,3.98,3.02,3.36
45,Utah,27,29,17,0.84,0.88,0.51
46,Vermont,4,3,2,0.64,0.47,0.31
47,Virginia,191,169,161,2.23,1.96,1.86
48,Washington,221,163,199,2.90,2.11,2.57
49,West Virginia,9,13,7,0.50,0.73,0.39
50,Wisconsin,51,35,66,0.88,0.59,1.12
51,Wyoming,1,0,3,0.17,0.00,0.52

What do each of these values represent? Why?

To the lecture!


# Gather Census Data

U.S. Census population estimates [source](https://www.census.gov/data/tables/time-series/demo/popest/2010s-state-total.html) (2019), [source](https://www.census.gov/data/tables/time-series/demo/popest/2020s-state-total.html) (2020-2021).

Running the below cells cleans the data. We encourage you to closely explore the CSV and study these lines after lecture...

There are a few new methods here:
* `df.convert_dtypes()` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.convert_dtypes.html)) conveniently converts all float dtypes into ints and is out of scope for the class.
* `df.drop_na()` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html)) will be explained in more detail next time.

In [13]:
# Load 2010s census data
# Answer

,Unnamed: 0,Census,Estimates Base,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,308745538.0,308758105.0,309321666.0,311556874.0,313830990.0,315993715.0,318301008.0,320635163.0,322941311.0,324985539.0,326687501.0,328239523.0
1,Northeast,55317240.0,55318443.0,55380134.0,55604223.0,55775216.0,55901806.0,56006011.0,56034684.0,56042330.0,56059240.0,56046620.0,55982803.0
2,Midwest,66927001.0,66929725.0,66974416.0,67157800.0,67336743.0,67560379.0,67745167.0,67860583.0,67987540.0,68126781.0,68236628.0,68329004.0
3,South,114555744.0,114563030.0,114866680.0,116006522.0,117241208.0,118364400.0,119624037.0,120997341.0,122351760.0,123542189.0,124569433.0,125580448.0
4,West,71945553.0,71946907.0,72100436.0,72788329.0,73477823.0,74167130.0,74925793.0,75742555.0,76559681.0,77257329.0,77834820.0,78347268.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58,Note: The estimates are based on the 2010 Cens...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Suggested Citation:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,Table 1. Annual Estimates of the Resident Popu...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62,Release Date: December 2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Apply some EDA

Drop the column of Estiamte Base

Rename Unnamed: 0 as 'Geographic Area'

"smart" converting of columns(.convert_dtypes()) Google it. Use at your own risk

.dropna() to drop records with NaN

You can also suggest any change that can be helpful for EDA

,Geographic Area,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
1,Northeast,55380134,55604223,55775216,55901806,56006011,56034684,56042330,56059240,56046620,55982803
2,Midwest,66974416,67157800,67336743,67560379,67745167,67860583,67987540,68126781,68236628,68329004
3,South,114866680,116006522,117241208,118364400,119624037,120997341,122351760,123542189,124569433,125580448
4,West,72100436,72788329,73477823,74167130,74925793,75742555,76559681,77257329,77834820,78347268
5,Alabama,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185
6,Alaska,713910,722128,730443,737068,736283,737498,741456,739700,735139,731545
7,Arizona,6407172,6472643,6554978,6632764,6730413,6829676,6941072,7044008,7158024,7278717
8,Arkansas,2921964,2940667,2952164,2959400,2967392,2978048,2989918,3001345,3009733,3017804
9,California,37319502,37638369,37948800,38260787,38596972,38918045,39167117,39358497,39461588,39512223
10,Colorado,5047349,5121108,5192647,5269035,5350101,5450623,5539215,5611885,5691287,5758736
11,Connecticut,3579114,3588283,3594547,3594841,3594524,3587122,3578141,3573297,3571520,3565287
12,Delaware,899593,907381,915179,923576,932487,941252,948921,956823,965479,973764
13,District of Columbia,605226,619800,634924,650581,662328,675400,685815,694906,701547,705749
14,Florida,18845537,19053237,19297822,19545621,19845911,20209042,20613477,20963613,21244317,21477737
15,Georgia,9711881,9802431,9901430,9972479,10067278,10178447,10301890,10410330,10511131,10617423
16,Hawaii,1363963,1379329,1394804,1408243,1414538,1422052,1427559,1424393,1420593,1415872
17,Idaho,1570746,1583910,1595324,1611206,1631112,1651059,1682380,1717715,1750536,1787065
18,Illinois,12840503,12867454,12882510,12895129,12884493,12858913,12820527,12778828,12723071,12671821
19,Indiana,6490432,6516528,6537703,6568713,6593644,6608422,6634304,6658078,6695497,6732219
20,Iowa,3050745,3066336,3076190,3092997,3109350,3120960,3131371,3141550,3148618,3155070
21,Kansas,2858190,2869225,2885257,2893212,2900475,2909011,2910844,2908718,2911359,2913314
22,Kentucky,4348181,4369821,4386346,4404659,4414349,4425976,4438182,4452268,4461153,4467673
23,Louisiana,4544532,4575625,4600972,4624527,4644013,4664628,4678135,4670560,4659690,4648794
24,Maine,1327629,1328284,1327729,1328009,1330513,1328262,1331317,1334612,1339057,1344212
25,Maryland,5788645,5839419,5886992,5923188,5957283,5985562,6003323,6023868,6035802,6045680
26,Massachusetts,6566307,6613583,6663005,6713315,6762596,6794228,6823608,6859789,6882635,6892503
27,Michigan,9877510,9882412,9897145,9913065,9929848,9931715,9950571,9973114,9984072,9986857
28,Minnesota,5310828,5346143,5376643,5413479,5451079,5482032,5522744,5566230,5606249,5639632
29,Mississippi,2970548,2978731,2983816,2988711,2990468,2988471,2987938,2988510,2981020,2976149
30,Missouri,5995974,6010275,6024367,6040715,6056202,6071732,6087135,6106670,6121623,6137428
31,Montana,990697,997316,1003783,1013569,1021869,1030475,1040859,1052482,1060665,1068778
32,Nebraska,1829542,1840672,1853303,1865279,1879321,1891277,1905616,1915947,1925614,1934408
33,Nevada,2702405,2712730,2743996,2775970,2817628,2866939,2917563,2969905,3027341,3080156
34,New Hampshire,1316762,1320202,1324232,1326622,1333341,1336350,1342307,1348787,1353465,1359711
35,New Jersey,8799446,8828117,8844942,8856972,8864525,8867949,8870827,8885525,8886025,8882190
36,New Mexico,2064552,2080450,2087309,2092273,2089568,2089291,2091630,2091784,2092741,2096829
37,New York,19399878,19499241,19572932,19624447,19651049,19654666,19633428,19589572,19530351,19453561
38,North Carolina,9574323,9657592,9749476,9843336,9932887,10031646,10154788,10268233,10381615,10488084
39,North Dakota,674715,685225,701176,722036,737401,754066,754434,754942,758080,762062
40,Ohio,11539336,11544663,11548923,11576684,11602700,11617527,11634370,11659650,11676341,11689100
41,Oklahoma,3759944,3788379,3818814,3853214,3878187,3909500,3926331,3931316,3940235,3956971
42,Oregon,3837491,3872036,3899001,3922468,3963244,4015792,4089976,4143625,4181886,4217737
43,Pennsylvania,12711160,12745815,12767118,12776309,12788313,12784826,12782275,12787641,12800922,12801989
44,Rhode Island,1053959,1053649,1054621,1055081,1055936,1056065,1056770,1055673,1058287,1059361
45,South Carolina,4635649,4671994,4717354,4764080,4823617,4891938,4957968,5021268,5084156,5148714
46,South Dakota,816166,823579,833566,842316,849129,853988,862996,872868,878698,884659
47,Tennessee,6355311,6399291,6453898,6494340,6541223,6591170,6646010,6708799,6771631,6829174
48,Texas,25241971,25645629,26084481,26480266,26964333,27470056,27914410,28295273,28628666,28995881
49,Utah,2775332,2814384,2853375,2897640,2936879,2981835,3041868,3101042,3153550,3205958
50,Vermont,625879,627049,626090,626210,625214,625216,623657,624344,624358,623989
51,Virginia,8023699,8101155,8185080,8252427,8310993,8361808,8410106,8463587,8501286,8535519
52,Washington,6742830,6826627,6897058,6963985,7054655,7163657,7294771,7423362,7523869,7614893
53,West Virginia,1854239,1856301,1856872,1853914,1849489,1842050,1831023,1817004,1804291,1792147
54,Wisconsin,5690475,5705288,5719960,5736754,5751525,5760940,5772628,5790186,5807406,5822434
55,Wyoming,564487,567299,576305,582122,582531,585613,584215,578931,577601,578759
57,Puerto Rico,3721525,3678732,3634488,3593077,3534874,3473232,3406672,3325286,3193354,3193694

In [15]:
# census 2020s data

,Unnamed: 0,Unnamed: 1,2020,2021,2022
0,United States,331449520.0,331511512.0,332031554.0,333287557.0
1,Northeast,57609156.0,57448898.0,57259257.0,57040406.0
2,Midwest,68985537.0,68961043.0,68836505.0,68787595.0
3,South,126266262.0,126450613.0,127346029.0,128716192.0
4,West,78588565.0,78650958.0,78589763.0,78743364.0
...,...,...,...,...,...
58,Note: The estimates are developed from a base ...,NaN,NaN,NaN,NaN
59,Suggested Citation:,NaN,NaN,NaN,NaN
60,Annual Estimates of the Resident Population fo...,NaN,NaN,NaN,NaN
61,"Source: U.S. Census Bureau, Population Division",NaN,NaN,NaN,NaN
62,Release Date: December 2022,NaN,NaN,NaN,NaN

In [16]:
# perform EDA Here as did on 2010s census data

         Geographic Area       2020       2021       2022
0          United States  331511512  332031554  333287557
1              Northeast   57448898   57259257   57040406
2                Midwest   68961043   68836505   68787595
3                  South  126450613  127346029  128716192
4                   West   78650958   78589763   78743364
5                Alabama    5031362    5049846    5074296
6                 Alaska     732923     734182     733583
7                Arizona    7179943    7264877    7359197
8               Arkansas    3014195    3028122    3045637
9             California   39501653   39142991   39029342
10              Colorado    5784865    5811297    5839926
11           Connecticut    3597362    3623355    3626205
12              Delaware     992114    1004807    1018396
13  District of Columbia     670868     668791     671803
14               Florida   21589602   21828069   22244823
15               Georgia   10729828   10788029   10912876
16                Hawaii    1451043    1447154    1440196
17                 Idaho    1849202    1904314    1939033
18              Illinois   12786580   12686469   12582032
19               Indiana    6788799    6813532    6833037
20                  Iowa    3190571    3197689    3200517
21                Kansas    2937919    2937922    2937150
22              Kentucky    4507445    4506589    4512310
23             Louisiana    4651664    4627098    4590241
24                 Maine    1363557    1377238    1385340
25              Maryland    6173205    6174610    6164660
26         Massachusetts    6995729    6989690    6981974
27              Michigan   10069577   10037504   10034113
28             Minnesota    5709852    5711471    5717184
29           Mississippi    2958141    2949586    2940057
30              Missouri    6153998    6169823    6177957
31               Montana    1087075    1106227    1122867
32              Nebraska    1962642    1963554    1967923
33                Nevada    3115648    3146402    3177772
34         New Hampshire    1378587    1387505    1395231
35            New Jersey    9271689    9267961    9261699
36            New Mexico    2118390    2116677    2113344
37              New York   20108296   19857492   19677151
38        North Carolina   10449445   10565885   10698973
39          North Dakota     779518     777934     779261
40                  Ohio   11797517   11764342   11756058
41              Oklahoma    3964912    3991225    4019800
42                Oregon    4244795    4256301    4240137
43          Pennsylvania   12994440   13012059   12972008
44          Rhode Island    1096345    1096985    1093734
45        South Carolina    5131848    5193266    5282634
46          South Dakota     887799     896164     909824
47             Tennessee    6925619    6968351    7051339
48                 Texas   29232474   29558864   30029572
49                  Utah    3283785    3339113    3380800
50               Vermont     642893     646972     647064
51              Virginia    8636471    8657365    8683619
52            Washington    7724031    7740745    7785786
53         West Virginia    1791420    1785526    1775156
54             Wisconsin    5896271    5880101    5892539
55               Wyoming     577605     579483     581381
57           Puerto Rico    3281557    3262693    3221789



# Join Data (Merge DataFrames)


Time to `merge`! Here I use the DataFrame method `df1.merge(right=df2, ...)` on DataFrame `df1` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.merge.html)). Contrast this with the function `pd.merge(left=df1, right=df2, ...)` ([documentation](https://pandas.pydata.org/docs/reference/api/pandas.merge.html?highlight=pandas%20merge#pandas.merge)). Feel free to use either.

In [17]:
# merge TB dataframe with two US census dataframes

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area_x,2010,2011,...,2014,2015,2016,2017,2018,2019,Geographic Area_y,2020,2021,2022
0,Alabama,87,72,92,1.77,1.43,1.83,Alabama,4785437,4799069,...,4841799,4852347,4863525,4874486,4887681,4903185,Alabama,5031362,5049846,5074296
1,Alaska,58,58,58,7.91,7.92,7.92,Alaska,713910,722128,...,736283,737498,741456,739700,735139,731545,Alaska,732923,734182,733583
2,Arizona,183,136,129,2.51,1.89,1.77,Arizona,6407172,6472643,...,6730413,6829676,6941072,7044008,7158024,7278717,Arizona,7179943,7264877,7359197
3,Arkansas,64,59,69,2.12,1.96,2.28,Arkansas,2921964,2940667,...,2967392,2978048,2989918,3001345,3009733,3017804,Arkansas,3014195,3028122,3045637
4,California,2111,1706,1750,5.35,4.32,4.46,California,37319502,37638369,...,38596972,38918045,39167117,39358497,39461588,39512223,California,39501653,39142991,39029342
5,Colorado,66,52,58,1.15,0.90,1.00,Colorado,5047349,5121108,...,5350101,5450623,5539215,5611885,5691287,5758736,Colorado,5784865,5811297,5839926
6,Connecticut,67,54,54,1.88,1.50,1.50,Connecticut,3579114,3588283,...,3594524,3587122,3578141,3573297,3571520,3565287,Connecticut,3597362,3623355,3626205
7,Delaware,18,17,43,1.84,1.71,4.29,Delaware,899593,907381,...,932487,941252,948921,956823,965479,973764,Delaware,992114,1004807,1018396
8,District of Columbia,24,19,19,3.39,2.75,2.84,District of Columbia,605226,619800,...,662328,675400,685815,694906,701547,705749,District of Columbia,670868,668791,671803
9,Florida,558,412,499,2.60,1.91,2.29,Florida,18845537,19053237,...,19845911,20209042,20613477,20963613,21244317,21477737,Florida,21589602,21828069,22244823
10,Georgia,302,221,228,2.84,2.06,2.11,Georgia,9711881,9802431,...,10067278,10178447,10301890,10410330,10511131,10617423,Georgia,10729828,10788029,10912876
11,Hawaii,99,92,106,6.99,6.34,7.35,Hawaii,1363963,1379329,...,1414538,1422052,1427559,1424393,1420593,1415872,Hawaii,1451043,1447154,1440196
12,Idaho,7,8,4,0.39,0.43,0.21,Idaho,1570746,1583910,...,1631112,1651059,1682380,1717715,1750536,1787065,Idaho,1849202,1904314,1939033
13,Illinois,326,216,255,2.57,1.69,2.01,Illinois,12840503,12867454,...,12884493,12858913,12820527,12778828,12723071,12671821,Illinois,12786580,12686469,12582032
14,Indiana,108,92,127,1.60,1.36,1.87,Indiana,6490432,6516528,...,6593644,6608422,6634304,6658078,6695497,6732219,Indiana,6788799,6813532,6833037
15,Iowa,52,39,49,1.65,1.22,1.53,Iowa,3050745,3066336,...,3109350,3120960,3131371,3141550,3148618,3155070,Iowa,3190571,3197689,3200517
16,Kansas,37,37,43,1.27,1.26,1.47,Kansas,2858190,2869225,...,2900475,2909011,2910844,2908718,2911359,2913314,Kansas,2937919,2937922,2937150
17,Kentucky,66,67,57,1.48,1.49,1.26,Kentucky,4348181,4369821,...,4414349,4425976,4438182,4452268,4461153,4467673,Kentucky,4507445,4506589,4512310
18,Louisiana,88,99,86,1.89,2.13,1.86,Louisiana,4544532,4575625,...,4644013,4664628,4678135,4670560,4659690,4648794,Louisiana,4651664,4627098,4590241
19,Maine,18,17,14,1.34,1.25,1.02,Maine,1327629,1328284,...,1330513,1328262,1331317,1334612,1339057,1344212,Maine,1363557,1377238,1385340
20,Maryland,209,148,192,3.45,2.40,3.11,Maryland,5788645,5839419,...,5957283,5985562,6003323,6023868,6035802,6045680,Maryland,6173205,6174610,6164660
21,Massachusetts,178,142,151,2.58,2.02,2.16,Massachusetts,6566307,6613583,...,6762596,6794228,6823608,6859789,6882635,6892503,Massachusetts,6995729,6989690,6981974
22,Michigan,131,101,136,1.31,1.00,1.35,Michigan,9877510,9882412,...,9929848,9931715,9950571,9973114,9984072,9986857,Michigan,10069577,10037504,10034113
23,Minnesota,148,117,134,2.62,2.05,2.35,Minnesota,5310828,5346143,...,5451079,5482032,5522744,5566230,5606249,5639632,Minnesota,5709852,5711471,5717184
24,Mississippi,58,41,45,1.95,1.39,1.53,Mississippi,2970548,2978731,...,2990468,2988471,2987938,2988510,2981020,2976149,Mississippi,2958141,2949586,2940057
25,Missouri,70,79,77,1.14,1.28,1.25,Missouri,5995974,6010275,...,6056202,6071732,6087135,6106670,6121623,6137428,Missouri,6153998,6169823,6177957
26,Montana,2,4,3,0.19,0.37,0.27,Montana,990697,997316,...,1021869,1030475,1040859,1052482,1060665,1068778,Montana,1087075,1106227,1122867
27,Nebraska,17,33,22,0.88,1.68,1.12,Nebraska,1829542,1840672,...,1879321,1891277,1905616,1915947,1925614,1934408,Nebraska,1962642,1963554,1967923
28,Nevada,53,57,61,1.71,1.83,1.94,Nevada,2702405,2712730,...,2817628,2866939,2917563,2969905,3027341,3080156,Nevada,3115648,3146402,3177772
29,New Hampshire,6,12,12,0.44,0.87,0.86,New Hampshire,1316762,1320202,...,1333341,1336350,1342307,1348787,1353465,1359711,New Hampshire,1378587,1387505,1395231
30,New Jersey,310,245,279,3.49,2.64,3.01,New Jersey,8799446,8828117,...,8864525,8867949,8870827,8885525,8886025,8882190,New Jersey,9271689,9267961,9261699
31,New Mexico,41,29,24,1.95,1.37,1.13,New Mexico,2064552,2080450,...,2089568,2089291,2091630,2091784,2092741,2096829,New Mexico,2118390,2116677,2113344
32,New York,746,605,681,3.83,3.00,3.43,New York,19399878,19499241,...,19651049,19654666,19633428,19589572,19530351,19453561,New York,20108296,19857492,19677151
33,North Carolina,185,159,178,1.76,1.52,1.69,North Carolina,9574323,9657592,...,9932887,10031646,10154788,10268233,10381615,10488084,North Carolina,10449445,10565885,10698973
34,North Dakota,18,10,15,2.36,1.28,1.94,North Dakota,674715,685225,...,737401,754066,754434,754942,758080,762062,North Dakota,779518,777934,779261
35,Ohio,150,130,149,1.28,1.10,1.26,Ohio,11539336,11544663,...,11602700,11617527,11634370,11659650,11676341,11689100,Ohio,11797517,11764342,11756058
36,Oklahoma,73,67,69,1.84,1.69,1.73,Oklahoma,3759944,3788379,...,3878187,3909500,3926331,3931316,3940235,3956971,Oklahoma,3964912,3991225,4019800
37,Oregon,70,67,78,1.66,1.58,1.84,Oregon,3837491,3872036,...,3963244,4015792,4089976,4143625,4181886,4217737,Oregon,4244795,4256301,4240137
38,Pennsylvania,199,156,166,1.55,1.20,1.28,Pennsylvania,12711160,12745815,...,12788313,12784826,12782275,12787641,12800922,12801989,Pennsylvania,12994440,13012059,12972008
39,Rhode Island,14,7,17,1.32,0.64,1.55,Rhode Island,1053959,1053649,...,1055936,1056065,1056770,1055673,1058287,1059361,Rhode Island,1096345,1096985,1093734
40,South Carolina,80,67,88,1.55,1.31,1.70,South Carolina,4635649,4671994,...,4823617,4891938,4957968,5021268,5084156,5148714,South Carolina,5131848,5193266,5282634
41,South Dakota,16,16,12,1.80,1.80,1.34,South Dakota,816166,823579,...,849129,853988,862996,872868,878698,884659,South Dakota,887799,896164,909824
42,Tennessee,129,113,85,1.89,1.63,1.22,Tennessee,6355311,6399291,...,6541223,6591170,6646010,6708799,6771631,6829174,Tennessee,6925619,6968351,7051339
43,Texas,1154,883,991,3.98,3.02,3.36,Texas,25241971,25645629,...,26964333,27470056,27914410,28295273,28628666,28995881,Texas,29232474,29558864,30029572
44,Utah,27,29,17,0.84,0.88,0.51,Utah,2775332,2814384,...,2936879,2981835,3041868,3101042,3153550,3205958,Utah,3283785,3339113,3380800
45,Vermont,4,3,2,0.64,0.47,0.31,Vermont,625879,627049,...,625214,625216,623657,624344,624358,623989,Vermont,642893,646972,647064
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699,8101155,...,8310993,8361808,8410106,8463587,8501286,8535519,Virginia,8636471,8657365,8683619
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830,6826627,...,7054655,7163657,7294771,7423362,7523869,7614893,Washington,7724031,7740745,7785786
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239,1856301,...,1849489,1842050,1831023,1817004,1804291,1792147,West Virginia,1791420,1785526,1775156
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475,5705288,...,5751525,5760940,5772628,5790186,5807406,5822434,Wisconsin,5896271,5880101,5892539
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487,567299,...,582531,585613,584215,578931,577601,578759,Wyoming,577605,579483,581381

This is a little unwieldy. We could either drop the unneeded columns now, or just merge on smaller census DataFrames. Let's do the latter.

In [ ]:
# try merging again, but cleaner this time


## Reproduce incidence

Let's recompute incidence to make sure we know where the original CDC numbers came from.

From the [CDC report](https://www.cdc.gov/mmwr/volumes/71/wr/mm7112a1.htm?s_cid=mm7112a1_w#T1_down): TB incidence is computed as Cases per 100,000 persons using mid-year population estimates from the U.S. Census Bureau.

If we define a group as 100,000 people, then we can compute the TB incidence for a given state population as

$$\text{TB incidence} = \frac{\text{# TB cases in population}}{\text{# groups in population}} = \frac{\text{# TB cases in population}}{\text{population}/100000} $$

$$= \frac{\text{# TB cases in population}}{\text{population}} \times 100000$$

Let's try this for 2019:

In [18]:
tb_census_df["recompute incidence 2019"] = tb_census_df["TB cases 2019"]/tb_census_df["2019"]*100000
tb_census_df

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area_x,2010,2011,...,2015,2016,2017,2018,2019,Geographic Area_y,2020,2021,2022,recompute incidence 2019
0,Alabama,87,72,92,1.77,1.43,1.83,Alabama,4785437,4799069,...,4852347,4863525,4874486,4887681,4903185,Alabama,5031362,5049846,5074296,1.774357
1,Alaska,58,58,58,7.91,7.92,7.92,Alaska,713910,722128,...,737498,741456,739700,735139,731545,Alaska,732923,734182,733583,7.928425
2,Arizona,183,136,129,2.51,1.89,1.77,Arizona,6407172,6472643,...,6829676,6941072,7044008,7158024,7278717,Arizona,7179943,7264877,7359197,2.514179
3,Arkansas,64,59,69,2.12,1.96,2.28,Arkansas,2921964,2940667,...,2978048,2989918,3001345,3009733,3017804,Arkansas,3014195,3028122,3045637,2.120747
4,California,2111,1706,1750,5.35,4.32,4.46,California,37319502,37638369,...,38918045,39167117,39358497,39461588,39512223,California,39501653,39142991,39029342,5.342651
5,Colorado,66,52,58,1.15,0.90,1.00,Colorado,5047349,5121108,...,5450623,5539215,5611885,5691287,5758736,Colorado,5784865,5811297,5839926,1.146085
6,Connecticut,67,54,54,1.88,1.50,1.50,Connecticut,3579114,3588283,...,3587122,3578141,3573297,3571520,3565287,Connecticut,3597362,3623355,3626205,1.879232
7,Delaware,18,17,43,1.84,1.71,4.29,Delaware,899593,907381,...,941252,948921,956823,965479,973764,Delaware,992114,1004807,1018396,1.848497
8,District of Columbia,24,19,19,3.39,2.75,2.84,District of Columbia,605226,619800,...,675400,685815,694906,701547,705749,District of Columbia,670868,668791,671803,3.400642
9,Florida,558,412,499,2.60,1.91,2.29,Florida,18845537,19053237,...,20209042,20613477,20963613,21244317,21477737,Florida,21589602,21828069,22244823,2.598039
10,Georgia,302,221,228,2.84,2.06,2.11,Georgia,9711881,9802431,...,10178447,10301890,10410330,10511131,10617423,Georgia,10729828,10788029,10912876,2.844381
11,Hawaii,99,92,106,6.99,6.34,7.35,Hawaii,1363963,1379329,...,1422052,1427559,1424393,1420593,1415872,Hawaii,1451043,1447154,1440196,6.992157
12,Idaho,7,8,4,0.39,0.43,0.21,Idaho,1570746,1583910,...,1651059,1682380,1717715,1750536,1787065,Idaho,1849202,1904314,1939033,0.391704
13,Illinois,326,216,255,2.57,1.69,2.01,Illinois,12840503,12867454,...,12858913,12820527,12778828,12723071,12671821,Illinois,12786580,12686469,12582032,2.572637
14,Indiana,108,92,127,1.60,1.36,1.87,Indiana,6490432,6516528,...,6608422,6634304,6658078,6695497,6732219,Indiana,6788799,6813532,6833037,1.604226
15,Iowa,52,39,49,1.65,1.22,1.53,Iowa,3050745,3066336,...,3120960,3131371,3141550,3148618,3155070,Iowa,3190571,3197689,3200517,1.648141
16,Kansas,37,37,43,1.27,1.26,1.47,Kansas,2858190,2869225,...,2909011,2910844,2908718,2911359,2913314,Kansas,2937919,2937922,2937150,1.270031
17,Kentucky,66,67,57,1.48,1.49,1.26,Kentucky,4348181,4369821,...,4425976,4438182,4452268,4461153,4467673,Kentucky,4507445,4506589,4512310,1.477279
18,Louisiana,88,99,86,1.89,2.13,1.86,Louisiana,4544532,4575625,...,4664628,4678135,4670560,4659690,4648794,Louisiana,4651664,4627098,4590241,1.892964
19,Maine,18,17,14,1.34,1.25,1.02,Maine,1327629,1328284,...,1328262,1331317,1334612,1339057,1344212,Maine,1363557,1377238,1385340,1.339074
20,Maryland,209,148,192,3.45,2.40,3.11,Maryland,5788645,5839419,...,5985562,6003323,6023868,6035802,6045680,Maryland,6173205,6174610,6164660,3.457014
21,Massachusetts,178,142,151,2.58,2.02,2.16,Massachusetts,6566307,6613583,...,6794228,6823608,6859789,6882635,6892503,Massachusetts,6995729,6989690,6981974,2.582516
22,Michigan,131,101,136,1.31,1.00,1.35,Michigan,9877510,9882412,...,9931715,9950571,9973114,9984072,9986857,Michigan,10069577,10037504,10034113,1.311724
23,Minnesota,148,117,134,2.62,2.05,2.35,Minnesota,5310828,5346143,...,5482032,5522744,5566230,5606249,5639632,Minnesota,5709852,5711471,5717184,2.624285
24,Mississippi,58,41,45,1.95,1.39,1.53,Mississippi,2970548,2978731,...,2988471,2987938,2988510,2981020,2976149,Mississippi,2958141,2949586,2940057,1.948827
25,Missouri,70,79,77,1.14,1.28,1.25,Missouri,5995974,6010275,...,6071732,6087135,6106670,6121623,6137428,Missouri,6153998,6169823,6177957,1.140543
26,Montana,2,4,3,0.19,0.37,0.27,Montana,990697,997316,...,1030475,1040859,1052482,1060665,1068778,Montana,1087075,1106227,1122867,0.18713
27,Nebraska,17,33,22,0.88,1.68,1.12,Nebraska,1829542,1840672,...,1891277,1905616,1915947,1925614,1934408,Nebraska,1962642,1963554,1967923,0.878822
28,Nevada,53,57,61,1.71,1.83,1.94,Nevada,2702405,2712730,...,2866939,2917563,2969905,3027341,3080156,Nevada,3115648,3146402,3177772,1.720692
29,New Hampshire,6,12,12,0.44,0.87,0.86,New Hampshire,1316762,1320202,...,1336350,1342307,1348787,1353465,1359711,New Hampshire,1378587,1387505,1395231,0.44127
30,New Jersey,310,245,279,3.49,2.64,3.01,New Jersey,8799446,8828117,...,8867949,8870827,8885525,8886025,8882190,New Jersey,9271689,9267961,9261699,3.49013
31,New Mexico,41,29,24,1.95,1.37,1.13,New Mexico,2064552,2080450,...,2089291,2091630,2091784,2092741,2096829,New Mexico,2118390,2116677,2113344,1.955334
32,New York,746,605,681,3.83,3.00,3.43,New York,19399878,19499241,...,19654666,19633428,19589572,19530351,19453561,New York,20108296,19857492,19677151,3.834773
33,North Carolina,185,159,178,1.76,1.52,1.69,North Carolina,9574323,9657592,...,10031646,10154788,10268233,10381615,10488084,North Carolina,10449445,10565885,10698973,1.763907
34,North Dakota,18,10,15,2.36,1.28,1.94,North Dakota,674715,685225,...,754066,754434,754942,758080,762062,North Dakota,779518,777934,779261,2.362013
35,Ohio,150,130,149,1.28,1.10,1.26,Ohio,11539336,11544663,...,11617527,11634370,11659650,11676341,11689100,Ohio,11797517,11764342,11756058,1.283247
36,Oklahoma,73,67,69,1.84,1.69,1.73,Oklahoma,3759944,3788379,...,3909500,3926331,3931316,3940235,3956971,Oklahoma,3964912,3991225,4019800,1.844845
37,Oregon,70,67,78,1.66,1.58,1.84,Oregon,3837491,3872036,...,4015792,4089976,4143625,4181886,4217737,Oregon,4244795,4256301,4240137,1.659658
38,Pennsylvania,199,156,166,1.55,1.20,1.28,Pennsylvania,12711160,12745815,...,12784826,12782275,12787641,12800922,12801989,Pennsylvania,12994440,13012059,12972008,1.554446
39,Rhode Island,14,7,17,1.32,0.64,1.55,Rhode Island,1053959,1053649,...,1056065,1056770,1055673,1058287,1059361,Rhode Island,1096345,1096985,1093734,1.321551
40,South Carolina,80,67,88,1.55,1.31,1.70,South Carolina,4635649,4671994,...,4891938,4957968,5021268,5084156,5148714,South Carolina,5131848,5193266,5282634,1.553786
41,South Dakota,16,16,12,1.80,1.80,1.34,South Dakota,816166,823579,...,853988,862996,872868,878698,884659,South Dakota,887799,896164,909824,1.808606
42,Tennessee,129,113,85,1.89,1.63,1.22,Tennessee,6355311,6399291,...,6591170,6646010,6708799,6771631,6829174,Tennessee,6925619,6968351,7051339,1.888955
43,Texas,1154,883,991,3.98,3.02,3.36,Texas,25241971,25645629,...,27470056,27914410,28295273,28628666,28995881,Texas,29232474,29558864,30029572,3.979876
44,Utah,27,29,17,0.84,0.88,0.51,Utah,2775332,2814384,...,2981835,3041868,3101042,3153550,3205958,Utah,3283785,3339113,3380800,0.842182
45,Vermont,4,3,2,0.64,0.47,0.31,Vermont,625879,627049,...,625216,623657,624344,624358,623989,Vermont,642893,646972,647064,0.641037
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699,8101155,...,8361808,8410106,8463587,8501286,8535519,Virginia,8636471,8657365,8683619,2.237708
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830,6826627,...,7163657,7294771,7423362,7523869,7614893,Washington,7724031,7740745,7785786,2.902208
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239,1856301,...,1842050,1831023,1817004,1804291,1792147,West Virginia,1791420,1785526,1775156,0.502191
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475,5705288,...,5760940,5772628,5790186,5807406,5822434,Wisconsin,5896271,5880101,5892539,0.875922
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487,567299,...,585613,584215,578931,577601,578759,Wyoming,577605,579483,581381,0.172783

Awesome!!!

Let's use a for-loop and Python format strings to compute TB incidence for all years. Python f-strings are just used for the purposes of this demo, but they're handy to know when you explore data beyond this course ([Python documentation](https://docs.python.org/3/tutorial/inputoutput.html)).

In [19]:
# recompute incidence for all years (2019, 2020, 2021)

,U.S. jurisdiction,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,Geographic Area_x,2010,2011,...,2017,2018,2019,Geographic Area_y,2020,2021,2022,recompute incidence 2019,recompute incidence 2020,recompute incidence 2021
0,Alabama,87,72,92,1.77,1.43,1.83,Alabama,4785437,4799069,...,4874486,4887681,4903185,Alabama,5031362,5049846,5074296,1.774357,1.431024,1.821838
1,Alaska,58,58,58,7.91,7.92,7.92,Alaska,713910,722128,...,739700,735139,731545,Alaska,732923,734182,733583,7.928425,7.913519,7.899949
2,Arizona,183,136,129,2.51,1.89,1.77,Arizona,6407172,6472643,...,7044008,7158024,7278717,Arizona,7179943,7264877,7359197,2.514179,1.894165,1.775667
3,Arkansas,64,59,69,2.12,1.96,2.28,Arkansas,2921964,2940667,...,3001345,3009733,3017804,Arkansas,3014195,3028122,3045637,2.120747,1.957405,2.27864
4,California,2111,1706,1750,5.35,4.32,4.46,California,37319502,37638369,...,39358497,39461588,39512223,California,39501653,39142991,39029342,5.342651,4.318807,4.470788
5,Colorado,66,52,58,1.15,0.90,1.00,Colorado,5047349,5121108,...,5611885,5691287,5758736,Colorado,5784865,5811297,5839926,1.146085,0.898897,0.998056
6,Connecticut,67,54,54,1.88,1.50,1.50,Connecticut,3579114,3588283,...,3573297,3571520,3565287,Connecticut,3597362,3623355,3626205,1.879232,1.5011,1.490331
7,Delaware,18,17,43,1.84,1.71,4.29,Delaware,899593,907381,...,956823,965479,973764,Delaware,992114,1004807,1018396,1.848497,1.713513,4.279429
8,District of Columbia,24,19,19,3.39,2.75,2.84,District of Columbia,605226,619800,...,694906,701547,705749,District of Columbia,670868,668791,671803,3.400642,2.832152,2.840947
9,Florida,558,412,499,2.60,1.91,2.29,Florida,18845537,19053237,...,20963613,21244317,21477737,Florida,21589602,21828069,22244823,2.598039,1.908326,2.286047
10,Georgia,302,221,228,2.84,2.06,2.11,Georgia,9711881,9802431,...,10410330,10511131,10617423,Georgia,10729828,10788029,10912876,2.844381,2.059679,2.113454
11,Hawaii,99,92,106,6.99,6.34,7.35,Hawaii,1363963,1379329,...,1424393,1420593,1415872,Hawaii,1451043,1447154,1440196,6.992157,6.340267,7.324721
12,Idaho,7,8,4,0.39,0.43,0.21,Idaho,1570746,1583910,...,1717715,1750536,1787065,Idaho,1849202,1904314,1939033,0.391704,0.432619,0.210049
13,Illinois,326,216,255,2.57,1.69,2.01,Illinois,12840503,12867454,...,12778828,12723071,12671821,Illinois,12786580,12686469,12582032,2.572637,1.689271,2.010016
14,Indiana,108,92,127,1.60,1.36,1.87,Indiana,6490432,6516528,...,6658078,6695497,6732219,Indiana,6788799,6813532,6833037,1.604226,1.355173,1.863938
15,Iowa,52,39,49,1.65,1.22,1.53,Iowa,3050745,3066336,...,3141550,3148618,3155070,Iowa,3190571,3197689,3200517,1.648141,1.222352,1.532357
16,Kansas,37,37,43,1.27,1.26,1.47,Kansas,2858190,2869225,...,2908718,2911359,2913314,Kansas,2937919,2937922,2937150,1.270031,1.259395,1.46362
17,Kentucky,66,67,57,1.48,1.49,1.26,Kentucky,4348181,4369821,...,4452268,4461153,4467673,Kentucky,4507445,4506589,4512310,1.477279,1.48643,1.264815
18,Louisiana,88,99,86,1.89,2.13,1.86,Louisiana,4544532,4575625,...,4670560,4659690,4648794,Louisiana,4651664,4627098,4590241,1.892964,2.128271,1.858616
19,Maine,18,17,14,1.34,1.25,1.02,Maine,1327629,1328284,...,1334612,1339057,1344212,Maine,1363557,1377238,1385340,1.339074,1.246739,1.016527
20,Maryland,209,148,192,3.45,2.40,3.11,Maryland,5788645,5839419,...,6023868,6035802,6045680,Maryland,6173205,6174610,6164660,3.457014,2.397458,3.109508
21,Massachusetts,178,142,151,2.58,2.02,2.16,Massachusetts,6566307,6613583,...,6859789,6882635,6892503,Massachusetts,6995729,6989690,6981974,2.582516,2.02981,2.160325
22,Michigan,131,101,136,1.31,1.00,1.35,Michigan,9877510,9882412,...,9973114,9984072,9986857,Michigan,10069577,10037504,10034113,1.311724,1.003021,1.354919
23,Minnesota,148,117,134,2.62,2.05,2.35,Minnesota,5310828,5346143,...,5566230,5606249,5639632,Minnesota,5709852,5711471,5717184,2.624285,2.04909,2.346156
24,Mississippi,58,41,45,1.95,1.39,1.53,Mississippi,2970548,2978731,...,2988510,2981020,2976149,Mississippi,2958141,2949586,2940057,1.948827,1.386006,1.525638
25,Missouri,70,79,77,1.14,1.28,1.25,Missouri,5995974,6010275,...,6106670,6121623,6137428,Missouri,6153998,6169823,6177957,1.140543,1.283718,1.24801
26,Montana,2,4,3,0.19,0.37,0.27,Montana,990697,997316,...,1052482,1060665,1068778,Montana,1087075,1106227,1122867,0.18713,0.36796,0.271192
27,Nebraska,17,33,22,0.88,1.68,1.12,Nebraska,1829542,1840672,...,1915947,1925614,1934408,Nebraska,1962642,1963554,1967923,0.878822,1.681407,1.120417
28,Nevada,53,57,61,1.71,1.83,1.94,Nevada,2702405,2712730,...,2969905,3027341,3080156,Nevada,3115648,3146402,3177772,1.720692,1.829475,1.938722
29,New Hampshire,6,12,12,0.44,0.87,0.86,New Hampshire,1316762,1320202,...,1348787,1353465,1359711,New Hampshire,1378587,1387505,1395231,0.44127,0.870456,0.864862
30,New Jersey,310,245,279,3.49,2.64,3.01,New Jersey,8799446,8828117,...,8885525,8886025,8882190,New Jersey,9271689,9267961,9261699,3.49013,2.642453,3.010371
31,New Mexico,41,29,24,1.95,1.37,1.13,New Mexico,2064552,2080450,...,2091784,2092741,2096829,New Mexico,2118390,2116677,2113344,1.955334,1.368964,1.133853
32,New York,746,605,681,3.83,3.00,3.43,New York,19399878,19499241,...,19589572,19530351,19453561,New York,20108296,19857492,19677151,3.834773,3.008708,3.429436
33,North Carolina,185,159,178,1.76,1.52,1.69,North Carolina,9574323,9657592,...,10268233,10381615,10488084,North Carolina,10449445,10565885,10698973,1.763907,1.521612,1.684667
34,North Dakota,18,10,15,2.36,1.28,1.94,North Dakota,674715,685225,...,754942,758080,762062,North Dakota,779518,777934,779261,2.362013,1.282844,1.928184
35,Ohio,150,130,149,1.28,1.10,1.26,Ohio,11539336,11544663,...,11659650,11676341,11689100,Ohio,11797517,11764342,11756058,1.283247,1.101927,1.266539
36,Oklahoma,73,67,69,1.84,1.69,1.73,Oklahoma,3759944,3788379,...,3931316,3940235,3956971,Oklahoma,3964912,3991225,4019800,1.844845,1.689823,1.728793
37,Oregon,70,67,78,1.66,1.58,1.84,Oregon,3837491,3872036,...,4143625,4181886,4217737,Oregon,4244795,4256301,4240137,1.659658,1.578404,1.832577
38,Pennsylvania,199,156,166,1.55,1.20,1.28,Pennsylvania,12711160,12745815,...,12787641,12800922,12801989,Pennsylvania,12994440,13012059,12972008,1.554446,1.200513,1.27574
39,Rhode Island,14,7,17,1.32,0.64,1.55,Rhode Island,1053959,1053649,...,1055673,1058287,1059361,Rhode Island,1096345,1096985,1093734,1.321551,0.638485,1.549702
40,South Carolina,80,67,88,1.55,1.31,1.70,South Carolina,4635649,4671994,...,5021268,5084156,5148714,South Carolina,5131848,5193266,5282634,1.553786,1.305573,1.694502
41,South Dakota,16,16,12,1.80,1.80,1.34,South Dakota,816166,823579,...,872868,878698,884659,South Dakota,887799,896164,909824,1.808606,1.80221,1.339041
42,Tennessee,129,113,85,1.89,1.63,1.22,Tennessee,6355311,6399291,...,6708799,6771631,6829174,Tennessee,6925619,6968351,7051339,1.888955,1.631623,1.219801
43,Texas,1154,883,991,3.98,3.02,3.36,Texas,25241971,25645629,...,28295273,28628666,28995881,Texas,29232474,29558864,30029572,3.979876,3.020613,3.352632
44,Utah,27,29,17,0.84,0.88,0.51,Utah,2775332,2814384,...,3101042,3153550,3205958,Utah,3283785,3339113,3380800,0.842182,0.883127,0.509117
45,Vermont,4,3,2,0.64,0.47,0.31,Vermont,625879,627049,...,624344,624358,623989,Vermont,642893,646972,647064,0.641037,0.466641,0.309132
46,Virginia,191,169,161,2.23,1.96,1.86,Virginia,8023699,8101155,...,8463587,8501286,8535519,Virginia,8636471,8657365,8683619,2.237708,1.956818,1.859688
47,Washington,221,163,199,2.90,2.11,2.57,Washington,6742830,6826627,...,7423362,7523869,7614893,Washington,7724031,7740745,7785786,2.902208,2.110297,2.570812
48,West Virginia,9,13,7,0.50,0.73,0.39,West Virginia,1854239,1856301,...,1817004,1804291,1792147,West Virginia,1791420,1785526,1775156,0.502191,0.725681,0.392041
49,Wisconsin,51,35,66,0.88,0.59,1.12,Wisconsin,5690475,5705288,...,5790186,5807406,5822434,Wisconsin,5896271,5880101,5892539,0.875922,0.593596,1.12243
50,Wyoming,1,0,3,0.17,0.00,0.52,Wyoming,564487,567299,...,578931,577601,578759,Wyoming,577605,579483,581381,0.172783,0.0,0.517703

These numbers look pretty close!!! There are a few errors in the hundredths place, particularly in 2021. It may be useful to further explore reasons behind this discrepancy. We'll leave it to you!

In [20]:
tb_census_df.describe()

,TB cases 2019,TB cases 2020,TB cases 2021,TB incidence 2019,TB incidence 2020,TB incidence 2021,2010,2011,2012,2013,...,2016,2017,2018,2019,2020,2021,2022,recompute incidence 2019,recompute incidence 2020,recompute incidence 2021
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.0,51.0,51.0,51.0,...,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0,51.0
mean,174.509804,140.647059,154.117647,2.102549,1.782941,1.971961,6065130.705882,6108958.313725,6153548.823529,6195955.196078,...,6332182.568627,6372265.470588,6405637.27451,6436069.078431,6500225.72549,6510422.627451,6535050.137255,2.104969,1.784655,1.969928
std,341.738752,271.055775,286.781007,1.498745,1.337414,1.478468,6838021.594872,6901809.616229,6967072.873326,7029240.826807,...,7235903.896549,7288669.592645,7327257.808679,7360660.467814,7408168.462614,7394300.076705,7423508.194422,1.500236,1.338263,1.474929
min,1.000000,0.000000,2.000000,0.170000,0.000000,0.210000,564487.0,567299.0,576305.0,582122.0,...,584215.0,578931.0,577601.0,578759.0,577605.0,579483.0,581381.0,0.172783,0.0,0.210049
25%,25.500000,29.000000,23.000000,1.295000,1.210000,1.235000,1700144.0,1712291.0,1724313.5,1732560.0,...,1756701.5,1767359.5,1777413.5,1789606.0,1820311.0,1844920.0,1857094.5,1.297485,1.211433,1.233905
50%,70.000000,67.000000,69.000000,1.800000,1.520000,1.700000,4348181.0,4369821.0,4386346.0,4404659.0,...,4438182.0,4452268.0,4461153.0,4467673.0,4507445.0,4506589.0,4512310.0,1.808606,1.521612,1.694502
75%,180.500000,139.000000,150.000000,2.575000,1.990000,2.220000,6654568.5,6720105.0,6780031.5,6838650.0,...,7117921.5,7233685.0,7340946.5,7446805.0,7451987.0,7502811.0,7572491.5,2.577577,1.993607,2.219482
max,2111.000000,1706.000000,1750.000000,7.910000,7.920000,7.920000,37319502.0,37638369.0,37948800.0,38260787.0,...,39167117.0,39358497.0,39461588.0,39512223.0,39501653.0,39142991.0,39029342.0,7.928425,7.913519,7.899949